# Utilities

In [244]:
import pandas as pd
import numpy as np
import re
import math

---
# Read Datasets

In [245]:
nhl13 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL 2012-13.csv', encoding = "utf-8")
# nhl13 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2012-13.csv', encoding = "utf-8")
# nhl13 = pd.read_csv('~/Dropbox/NHL 2012-13.csv', encoding = "utf-8")
nhl13.columns = [str(col) + '_13' for col in nhl13.columns]

In [246]:
nhl13['Name'] = nhl13.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_13"]}{player["First Name_13"]}').upper(), axis=1)
nhl13.drop('BTN Code_13', axis=1, inplace=True)

In [247]:
nhl13.set_index('Name', inplace=True)

In [248]:
nhl13.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [249]:
nhl13.head()

,#_13,DOB_13,Birth City_13,S/P_13,Ctry_13,HT_13,Wt_13,S_13,Rk_13,Age_13,...,GVT/G_13,GVT/60_13,Full_13,LTIR_13,SOIR_13,Ginj_13,Injury_13,Cap Cost_13,Bonuses_13,GVS_13
Name,,,,,,,,,,,,,,,,,,,,,
ABDELKADERJUSTIN,8.0,Feb 25 '87,Muskegon,MI,USA,73,219,L,NaN,26,...,0.07,0.29,99.0,0.0,0.0,NaN,NaN,"$1,800,000",$0,1.1
ADAMLUKE,72.0,Jun 18 '90,St. John's,NF,CAN,74,206,L,NaN,23,...,0.08,0.46,15.0,0.0,0.0,NaN,NaN,"$119,318","$87,500",0.2
ADAMSCRAIG,27.0,Apr 26 '77,Seria,NaN,BRN,72,197,R,NaN,36,...,0.02,0.12,99.0,0.0,0.0,NaN,NaN,"$675,000",$0,0.8
AKESONJASON,42.0,Jun 03 '90,Ottawa,ON,CAN,70,190,R,Y,23,...,0.50,2.42,6.0,0.0,0.0,NaN,NaN,"$43,333","$185,000",0.5
ALBERTSANDREW,41.0,Jun 30 '81,Minneapolis,MN,USA,77,218,L,NaN,32,...,-0.05,-0.18,99.0,0.0,0.0,NaN,NaN,"$1,225,000",$0,-2.4

In [250]:
nhl14 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL 2013-14.csv', encoding = "utf-8")
# nhl14 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2013-14.csv', encoding = "utf-8")
# nhl14 = pd.read_csv('~/Dropbox/NHL 2013-14.csv', encoding = "utf-8")
nhl14.columns = [str(col) + '_14' for col in nhl14.columns]

In [251]:
nhl14['Name'] = nhl14.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_14"]}{player["First Name_14"]}').upper(), axis=1)
nhl14.drop('BTN Code_14', axis=1, inplace=True)

In [252]:
nhl14.set_index('Name', inplace=True)

In [253]:
nhl14.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [254]:
nhl14.head()

,#_14,DOB_14,Birth City_14,S/P_14,Ctry_14,HT_14,Wt_14,S_14,Draft_14,Round_14,...,GVT/G_14,GVT/60_14,Full_14,LTIR_14,SOIR_14,Ginj_14,Injury_14,Cap Cost_14,Bonuses_14,GVS_14
Name,,,,,,,,,,,,,,,,,,,,,
ABBOTTSPENCER,56.0,Apr 30 '88,Hamilton,ON,CAN,69,170,R,NaN,NaN,...,-0.40,-4.56,NaN,NaN,NaN,NaN,NaN,650000.0,NaN,-1.5
ABDELKADERJUSTIN,8.0,Feb 25 '87,Muskegon,MI,USA,73,219,L,2005.0,2.0,...,0.06,0.24,NaN,NaN,NaN,12.0,"Head, Groin",1800000.0,NaN,1.0
ACTONWILL,41.0,Jul 16 '87,Edina,MN,USA,73,199,L,NaN,NaN,...,0.05,0.39,NaN,NaN,NaN,NaN,NaN,680000.0,NaN,0.4
ADAMLUKE,72.0,Jun 18 '90,St. John's,NL,CAN,74,206,L,2008.0,2.0,...,-0.05,-0.23,NaN,NaN,NaN,NaN,NaN,735000.0,NaN,-1.9
ADAMSCRAIG,27.0,Apr 26 '77,Seria,NaN,BRN,72,200,R,1996.0,9.0,...,0.01,0.06,NaN,NaN,NaN,NaN,NaN,700000.0,NaN,-0.2

In [255]:
nhl15 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL 2014-15.csv', encoding = "utf-8")
# nhl15 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2014-15.csv', encoding = "utf-8")
# nhl15 = pd.read_csv('~/Dropbox/NHL 2014-15.csv', encoding = "utf-8")
nhl15.columns = [str(col) + '_15' for col in nhl15.columns]

In [256]:
nhl15['Name'] = nhl15.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_15"]}{player["First Name_15"]}').upper(), axis=1)

In [257]:
nhl15.set_index('Name', inplace=True)

In [258]:
nhl15.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [259]:
nhl15.head()

,#_15,DOB_15,Birth City_15,S/P_15,Ctry_15,Nat_15,HT_15,Wt_15,S_15,Draft_15,...,dFAImpact_15,dFenwickImpact_15,dFenwick60_15,Days_15,Ginj_15,Injury_15,Cap Cost_15,CHIP_15,Bonuses_15,GVS_15
Name,,,,,,,,,,,,,,,,,,,,,
ABDELKADERJUSTIN,8.0,Feb 25 '87,Muskegon,MI,USA,US,74,218,L,2005.0,...,-49.4,-9.4,-0.6,186,11.0,"Hand, Shoulder",1.800,0.088,0.0,5.3
ACTONWILL,41.0,Jul 16 '87,Edina,MN,USA,US,75,202,L,NaN,...,-6.3,10.4,22.6,29,NaN,NaN,0.106,0.000,0.0,-0.4
ADAMLUKE,25.0,Jun 18 '90,St. John's,NL,CAN,CA,74,206,L,2008.0,...,-4.1,1.0,3.3,5,NaN,NaN,0.017,0.000,0.0,-0.1
ADAMSCRAIG,27.0,Apr 26 '77,Seria,NaN,BRN,NaN,72,200,R,1996.0,...,-1.2,-19.4,-2.4,186,5.0,Undisclosed,0.700,0.043,0.0,1.0
AGOZZINOANDREW,32.0,Jan 03 '91,Kleinburg,ON,CAN,CA,70,187,L,NaN,...,1.1,0.4,2.3,2,NaN,NaN,0.006,0.000,0.0,0.3

In [260]:
nhl16 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL 2015-16.csv', encoding = "utf-8")
# nhl16 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2015-16.csv', encoding = "utf-8")
# nhl16 = pd.read_csv('~/Dropbox/NHL 2015-16.csv', encoding = "utf-8")
nhl16.columns = [str(col) + '_16' for col in nhl16.columns]

In [261]:
nhl16['Name'] = nhl16.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_16"]}{player["First Name_16"]}').upper(), axis=1)

In [262]:
nhl16.set_index('Name', inplace=True)

In [263]:
nhl16.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [264]:
nhl16.head()

,#_16,DOB_16,Birth City_16,S/P_16,Ctry_16,Nat_16,HT_16,Wt_16,S_16,Draft_16,...,3rd Star_16,Days_16,Ginj_16,Injury_16,Salary_16,Cap Hit_16,Cap Cost_16,CHIP_16,Bonuses_16,GVS_16
Name,,,,,,,,,,,,,,,,,,,,,
ABDELKADERJUSTIN,8.0,1987-02-25,Muskegon,MI,USA,USA,74,218,L,2005.0,...,4,186,0,NaN,2.250,1.800,1.800,0,0.0,1.6
ACCIARINOEL,55.0,1991-12-01,Johnston,RI,USA,USA,70,208,R,NaN,...,0,40,0,NaN,0.693,0.793,0.170,0,0.0,-1.0
AGOSTINOKENNY,51.0,1992-04-30,Morristown,NJ,USA,USA,72,202,L,2010.0,...,0,6,0,NaN,0.830,0.830,0.024,0,0.0,-0.3
AGOZZINOANDREW,28.0,1991-01-03,Kleinburg,ON,CAN,CAN,70,187,L,NaN,...,0,19,0,NaN,0.600,0.600,0.061,0,0.0,0.1
ALZNERKARL,27.0,1988-09-24,Burnaby,BC,CAN,CAN,74,214,L,2007.0,...,1,186,0,NaN,2.800,2.800,2.800,0,0.0,3.8

In [265]:
nhl17 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL 2016-17.csv', encoding = "utf-8", sep='\t')
# nhl17 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2016-17.csv', encoding = "utf-8", sep='\t')
# nhl17 = pd.read_csv('~/Dropbox/NHL 2016-17.csv', encoding = "utf-8", sep='\t')
nhl17.columns = [str(col) + '_17' for col in nhl17.columns]

In [266]:
nhl17['Name'] = nhl17.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_17"]}{player["First Name_17"]}').upper(), axis=1)

In [267]:
nhl17.set_index('Name', inplace=True)

In [268]:
nhl17.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [269]:
nhl17.head()

,Born_17,City_17,Pr/St_17,Cntry_17,Nat_17,Ht_17,Wt_17,DftYr_17,DftRd_17,Ovrl_17,...,1st_17,2nd_17,3rd_17,MGL_17,Injuries_17,CHIP_17,NMC_17,Status_17,Salary_17,Cap Hit_17
Name,,,,,,,,,,,,,,,,,,,,,
ABBOTTSPENCER,1988-04-30,Hamilton,ON,CAN,CAN,69,170,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UFA,"$575 000,00","$575 000,00"
ABDELKADERJUSTIN,1987-02-25,Muskegon,MI,USA,USA,74,218,2005.0,2.0,42.0,...,0.0,0.0,1.0,18.0,"Lower body, Knee","$932 926,83",NTC,UFA,"$5 500 000,00","$4 250 000,00"
ABERGPONTUS,1993-09-23,Stockholm,NaN,SWE,SWE,71,196,2012.0,2.0,37.0,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,RFA,"$842 500,00","$780 833,00"
ACCIARINOEL,1991-12-01,Johnston,RI,USA,USA,70,208,NaN,NaN,NaN,...,0.0,0.0,1.0,15.0,"Lower body, Upper body","$144 969,51",NaN,RFA,"$892 500,00","$792 500,00"
AGOSTINOKENNY,1992-04-30,Morristown,NJ,USA,USA,72,202,2010.0,5.0,140.0,...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,UFA,"$625 000,00","$625 000,00"

In [270]:
nhl17pp = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL 2016-17-5on4.csv', encoding = "utf-8")
# nhl17pp = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2016-17-5on4.csv', encoding = "utf-8")
# nhl17pp = pd.read_csv('~/Dropbox/NHL 2016-17-5on4.csv', encoding = "utf-8")
nhl17pp.columns = [str(col) + '_17pp' for col in nhl17pp.columns]

In [271]:
nhl17pp['Name'] = nhl17pp.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_17pp"]}{player["First Name_17pp"]}').upper(), axis=1)

In [272]:
nhl17pp.set_index('Name', inplace=True)

In [273]:
nhl17pp.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [274]:
nhl17pp.head()

,Last Name_17pp,First Name_17pp,Position_17pp,Team_17pp,GP_17pp,G_17pp,A_17pp,A1_17pp,PTS_17pp,PTS/60_17pp,...,OppFF60_17pp,OppFA60_17pp,OppSF60_17pp,OppSA60_17pp,OppGF60_17pp,OppGA60_17pp,TOI.QoC.1_17pp,CF.QoC.1_17pp,xGF.QoC_17pp,Pace_17pp
Name,,,,,,,,,,,,,,,,,,,,,
ABBOTTSPENCER,Abbott,Spencer,LW,CHI,1,0,0,NaN,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
ABDELKADERJUSTIN,Abdelkader,Justin,LW/RW,DET,64,5,2,0.0,7,2.93,...,11.0,71.2,8.9,51.0,0.82,6.25,30.2,49.7,49.9,103.1
ABERGPONTUS,Aberg,Pontus,LW,NSH,15,0,0,0.0,0,0.00,...,10.9,70.1,8.5,50.7,0.82,5.80,31.8,52.1,52.0,28.1
ACCIARINOEL,Acciari,Noel,C,BOS,29,0,0,NaN,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,30.1,49.3,49.6,0.0
AGOSTINOKENNY,Agostino,Kenny,LW,STL,7,0,1,1.0,1,6.60,...,11.1,74.3,8.7,53.2,0.78,6.51,29.5,49.1,49.5,72.0

In [275]:
nhl18 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL 2017-18.csv', encoding = "utf-8", sep='\t')
# nhl18 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2017-18.csv', encoding = "utf-8", sep='\t')
# nhl18 = pd.read_csv('~/Dropbox/NHL 2017-18.csv', encoding = "utf-8", sep='\t')
nhl18.columns = [str(col) + '_18' for col in nhl18.columns]

In [276]:
nhl18['Name'] = nhl18.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_18"]}{player["First Name_18"]}').upper(), axis=1)

In [277]:
nhl18.set_index('Name', inplace=True)

In [278]:
nhl18.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [279]:
nhl18.head()

,Born_18,City_18,Pr/St_18,Cntry_18,Nat_18,Ht_18,Wt_18,DftYr_18,DftRd_18,Ovrl_18,...,A.1_18,PTS.1_18,+/-.1_18,PIM.1_18,Shot_18,TOI.4_18,OPS.1_18,DPS.1_18,PS.1_18,Unnamed: 189_18
Name,,,,,,,,,,,,,,,,,,,,,
HAYESJIMMY,1989-11-21,Dorchester,MA,USA,USA,77,215,2008.0,2.0,60.0,...,55,109,-29,149,530,4120,"6,9","3,2","10,1","8,4"
LEHTERAJORI,1987-12-23,Helsinki,NaN,FIN,FIN,74,212,2008.0,3.0,65.0,...,75,108,19,134,298,4109,"4,2","5,5","9,7","6,6"
STONEMICHAEL,1990-06-07,Winnipeg,MB,CAN,CAN,75,210,2008.0,3.0,69.0,...,83,112,-46,238,652,8141,"5,5","14,8","20,4","7,2"
HARTNELLSCOTT,1982-04-18,Regina,SK,CAN,CAN,74,215,2000.0,1.0,6.0,...,380,707,66,1809,2777,19535,"57,8","23,6","81,4","15,8"
HAINSEYRON,1981-03-24,Bolton,CT,USA,USA,75,205,2000.0,1.0,13.0,...,223,276,-61,410,1292,20909,"10,5",41,"51,5",21

In [280]:
nhl18pp = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL 2017-18-5on4.csv', encoding = "utf-8")
# nhl18pp = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2017-18-5on4.csv', encoding = "utf-8")
# nhl18pp = pd.read_csv('~/Dropbox/NHL 2017-18-5on4.csv', encoding = "utf-8")
nhl18pp.columns = [str(col) + '_18pp' for col in nhl18pp.columns]

In [281]:
# ATTENTION LAST NAME ET FIRST NAME INVERSE

nhl18pp['Name'] = nhl18pp.apply(lambda player: re.sub(r'\W+', '', f'{player["First Name_18pp"]}{player["Last Name_18pp"]}').upper(), axis=1)

In [282]:
nhl18pp.set_index('Name', inplace=True)

In [283]:
nhl18pp.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [284]:
nhl18pp.head()

,Last Name_18pp,First Name_18pp,Position_18pp,Team_18pp,GP_18pp,G_18pp,A_18pp,A1_18pp,PTS_18pp,PTS/60_18pp,...,xGF/60.QoT_18pp,xGA/60.QoT_18pp,TOI.QoC_18pp,CF.QoC_18pp,CF/60.QoC_18pp,CA/60.QoC_18pp,xGF.QoC_18pp,xGF/60.QoC_18pp,xGA/60.QoC_18pp,Pace_18pp
Name,,,,,,,,,,,,,,,,,,,,,
HAYESJIMMY,Jimmy,Hayes,RW,NJD,33,1,0,0,1,1.17,...,7.20,1.36,37.70,13.19,15.13,100.55,7.20,1.05,7.19,117.0
LEHTERAJORI,Jori,Lehtera,C,PHI,62,0,0,0,0,0.00,...,5.32,0.78,36.91,12.83,14.50,99.67,5.32,0.97,6.83,100.6
STONEMICHAEL,Michael,Stone,D,CGY,82,0,1,1,1,1.27,...,8.37,1.07,36.23,12.33,14.41,105.14,8.37,1.02,7.60,96.7
HARTNELLSCOTT,Scott,Hartnell,LW,NSH,62,2,3,2,5,3.96,...,6.64,0.72,38.10,12.92,15.02,101.55,6.64,1.08,7.27,100.1
HAINSEYRON,Ron,Hainsey,D,TOR,80,1,0,0,1,5.46,...,7.87,0.88,33.16,14.67,16.58,97.67,7.87,1.10,6.96,125.3

---
# Preprocessing

## Join by Name

In [285]:
nhl13.shape

(839, 226)

In [286]:
nhl14.shape

(886, 102)

In [287]:
nhl13_14 = nhl14.join(nhl13)
nhl13_14 = pd.concat([nhl13_14, nhl13], sort=False)
nhl13_14 = nhl13_14[~nhl13_14.index.duplicated(keep='first')]

In [288]:
nhl13_14.shape

(1024, 328)

In [289]:
nhl14_15 = nhl15.join(nhl13_14)
nhl14_15 = pd.concat([nhl14_15, nhl13_14], sort=False)
nhl14_15 = nhl14_15[~nhl14_15.index.duplicated(keep='first')]

In [290]:
nhl14_15.shape

(1161, 448)

In [291]:
nhl15_16 = nhl16.join(nhl14_15)
nhl15_16 = pd.concat([nhl15_16, nhl14_15], sort=False)
nhl15_16 = nhl15_16[~nhl15_16.index.duplicated(keep='first')]

In [292]:
nhl15_16.shape

(1314, 577)

In [293]:
nhl16_17 = nhl17.join(nhl15_16)
nhl16_17 = pd.concat([nhl16_17, nhl15_16], sort=False)
nhl16_17 = nhl16_17[~nhl16_17.index.duplicated(keep='first')]

In [294]:
nhl16_17.shape

(1467, 744)

In [295]:
nhl16_17pp = nhl17pp.join(nhl16_17)
nhl16_17pp = pd.concat([nhl16_17pp, nhl16_17], sort=False)
nhl16_17pp = nhl16_17pp[~nhl16_17pp.index.duplicated(keep='first')]

In [296]:
nhl16_17pp.shape

(1468, 894)

In [297]:
nhl17_18pp = nhl18pp.join(nhl16_17pp)
nhl17_18pp = pd.concat([nhl17_18pp, nhl16_17pp], sort=False)
nhl17_18pp = nhl17_18pp[~nhl17_18pp.index.duplicated(keep='first')]

In [298]:
nhl17_18pp.shape

(1596, 1038)

In [299]:
nhl = nhl18.join(nhl17_18pp)
nhl = pd.concat([nhl, nhl17_18pp], sort=False)
nhl = nhl[~nhl.index.duplicated(keep='first')]

In [300]:
nhl.shape

(1596, 1228)

## Filter columns

In [301]:
# add 17 et 18 PPTOI des xls

# PAX: Points above expectations, based on previous average career points per game
# GC: Goals Created, which is half-point for a goal, and a variable amount depending on the team's assists per goal
# SCF: Team scoring chances while this player was on the ice
# WAR: Wins above replacement, a catch-all stat that measures a player's offensive contributions in terms of wins
# ZS%: Zone start percentage
# GS: The player's combined game score, quality of games played, averaged per game

nhl = nhl[['Last Name_18', 'First Name_18', 'Team_18', 'Age_18', 'Position_18', \
           'GP_13', 'GP_14', 'GP_15', 'GP_16', 'GP_17', 'GP_18', \
           'G_13', 'G_14', 'G_15', 'G_16', 'G_17', 'G_18', \
           'A_13', 'A_14', 'A_15', 'A_16', 'A_17', 'A_18', \
           'PTS_13', 'PTS_14', 'PTS_15', 'PTS_16', 'PTS_17', 'PTS_18', 'PAX_18', \
           'Sh%_13', 'Sh%_14', 'Sh%_15', 'Sh%_16', 'SH%_17', 'SH%_18', \
           'Sh_13', 'Sh_14', 'Sh_15', 'Sh_16', 'iSF_17', 'iSF_18', \
           'TOI/G_13', 'TOI/G_14', 'TOI/G_15', 'TOI/G_16', 'TOI/GP_17', 'TOI/GP_18', \
           'TOI/GP_17pp', 'TOI/GP_18pp', \
           'ZS%_18', \
           'GC_18', 'SCF_17', 'SCF_18', 'GS/G_17', 'GS/G_18', 'OWAR_18', 'OPS_17', 'OPS_18', \
           'PDO_17', 'PDO_18', \
           'iCF_17', 'iCF_18', \
           'iFF_17', 'iFF_18', \
           'Star_18', \
           'Salary_18', \
           'Cap Cost_13', 'Cap Cost_14', 'Cap Cost_15', 'Cap Hit_16', 'Cap Hit_17', 'Cap Hit_18']]

nhl.rename(columns={'TOI/GP_17': 'TOI/G_17', 'TOI/GP_18': 'TOI/G_18', 'SH%_17': 'Sh%_17', 'SH%_18': 'Sh%_18',
                   'Sh_13': 'iSF_13', 'Sh_14': 'iSF_14', 'Sh_15': 'iSF_15', 'Sh_16': 'iSF_16'}, inplace=True)
nhl.head()

,Last Name_18,First Name_18,Team_18,Age_18,Position_18,GP_13,GP_14,GP_15,GP_16,GP_17,...,iFF_17,iFF_18,Star_18,Salary_18,Cap Cost_13,Cap Cost_14,Cap Cost_15,Cap Hit_16,Cap Hit_17,Cap Hit_18
Name,,,,,,,,,,,,,,,,,,,,,
ABDELKADERJUSTIN,Abdelkader,Justin,DET,30.0,LW,48.0,70.0,71.0,82.0,64.0,...,138.0,164.0,"2,193",$5 000 000,"$1,800,000",1800000.0,1.8,1.800,"$4 250 000,00",$4 250 000
ABERGPONTUS,Aberg,Pontus,"NSH, EDM",24.0,LW,NaN,NaN,NaN,NaN,15.0,...,15.0,101.0,"0,9651",$650 000,NaN,NaN,NaN,NaN,"$780 833,00",$650 000
ACCIARINOEL,Acciari,Noel,BOS,26.0,C,NaN,NaN,NaN,19.0,29.0,...,NaN,92.0,"0,7466",$700 000,NaN,NaN,NaN,0.793,"$792 500,00",$725 000
AGOSTINOKENNY,Agostino,Kenny,BOS,25.0,LW,NaN,8.0,NaN,2.0,7.0,...,24.0,16.0,"0,0125",$875 000,NaN,900000.0,NaN,0.830,"$625 000,00",$875 000
AHOSEBASTIAN,Aho,Sebastian,NYI,21.0,D,NaN,NaN,NaN,NaN,82.0,...,285.0,33.0,"0,4247",$742 500,NaN,NaN,NaN,NaN,"$925 000,00",$770 000

In [302]:
# Rename columns
nhl.rename(columns={'Age_18': 'Age', 'Last Name_18': 'Last_Name', 'First Name_18': 'First_Name', 'Team_18': 'Team',
                    'Position_18': 'Position', 'Star_18': 'Star', 
                    'TOI/GP_17pp': 'PPTOI/GP_17', 'TOI/GP_18pp': 'PPTOI/GP_18'}, inplace=True)

In [303]:
nhl.columns

Index(['Last_Name', 'First_Name', 'Team', 'Age', 'Position', 'GP_13', 'GP_14',
       'GP_15', 'GP_16', 'GP_17', 'GP_18', 'G_13', 'G_14', 'G_15', 'G_16',
       'G_17', 'G_18', 'A_13', 'A_14', 'A_15', 'A_16', 'A_17', 'A_18',
       'PTS_13', 'PTS_14', 'PTS_15', 'PTS_16', 'PTS_17', 'PTS_18', 'PAX_18',
       'Sh%_13', 'Sh%_14', 'Sh%_15', 'Sh%_16', 'Sh%_17', 'Sh%_18', 'iSF_13',
       'iSF_14', 'iSF_15', 'iSF_16', 'iSF_17', 'iSF_18', 'TOI/G_13',
       'TOI/G_14', 'TOI/G_15', 'TOI/G_16', 'TOI/G_17', 'TOI/G_18',
       'PPTOI/GP_17', 'PPTOI/GP_18', 'ZS%_18', 'GC_18', 'SCF_17', 'SCF_18',
       'GS/G_17', 'GS/G_18', 'OWAR_18', 'OPS_17', 'OPS_18', 'PDO_17', 'PDO_18',
       'iCF_17', 'iCF_18', 'iFF_17', 'iFF_18', 'Star', 'Salary_18',
       'Cap Cost_13', 'Cap Cost_14', 'Cap Cost_15', 'Cap Hit_16', 'Cap Hit_17',
       'Cap Hit_18'],
      dtype='object')

---
## Feature Engineering

### PTS/G

In [304]:
nhl['PTS/G_13'] = nhl.apply(lambda player: player.PTS_13/player.GP_13, axis=1)
nhl['PTS/G_14'] = nhl.apply(lambda player: player.PTS_14/player.GP_14, axis=1)
nhl['PTS/G_15'] = nhl.apply(lambda player: player.PTS_15/player.GP_15, axis=1)
nhl['PTS/G_16'] = nhl.apply(lambda player: player.PTS_16/player.GP_16, axis=1)
nhl['PTS/G_17'] = nhl.apply(lambda player: player.PTS_17/player.GP_17, axis=1)
nhl['PTS/G_18'] = nhl.apply(lambda player: player.PTS_18/player.GP_18, axis=1)

### $/PTS

In [305]:
def moneyPerPts(player, pts_year, gp_year, cap_year):
    if player[pts_year] > 0:
        return ((player[gp_year]/82) * player[cap_year]) / player[pts_year]
    else:
        return ((player[gp_year]/82) * player[cap_year])

In [306]:
nhl['Cap Cost_13'] = nhl['Cap Cost_13'].replace('[\$,]', '', regex=True).astype(float)
nhl['$/PTS_13'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_13', 'GP_13', 'Cap Cost_13'), axis=1)

In [307]:
nhl['Cap Cost_14'] = nhl['Cap Cost_14'].replace('[\$,]', '', regex=True).astype(float)
nhl['$/PTS_14'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_14', 'GP_14', 'Cap Cost_14'), axis=1)

In [308]:
nhl['Cap Cost_15'] = nhl['Cap Cost_15'].replace('[\$,]', '', regex=True).astype(float)
nhl['Cap Cost_15'] = nhl['Cap Cost_15'].apply(lambda player: player*1000000)
nhl['$/PTS_15'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_15', 'GP_15', 'Cap Cost_15'), axis=1)

In [309]:
nhl['Cap Hit_16'] = nhl['Cap Hit_16'].replace('[\$,]', '', regex=True).astype(float)
nhl['Cap Hit_16'] = nhl['Cap Hit_16'].apply(lambda player: player*1000000)
nhl['$/PTS_16'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_16', 'GP_16', 'Cap Hit_16'), axis=1)

In [310]:
nhl['Cap Hit_17'] = nhl['Cap Hit_17'].replace('[\$\s,]', '', regex=True).astype(float)
nhl['Cap Hit_17'] = nhl['Cap Hit_17'].apply(lambda player: player/100)
nhl['$/PTS_17'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_17', 'GP_17', 'Cap Hit_17'), axis=1)

In [311]:
nhl['Cap Hit_18'] = nhl['Cap Hit_18'].replace('[\$\s,]', '', regex=True).astype(float)
nhl['$/PTS_18'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_18', 'GP_18', 'Cap Hit_18'), axis=1)

### Age Correction

In [312]:
nhl['Age'] = nhl.Age.apply(lambda age: age+1)

### Type Correction

In [313]:
def p2f(x):
    if x == '#DIV/0!':
        return np.nan
    else:
        return float(x.strip('%').replace(',','.'))

In [314]:
nhl['ZS%_18'] = nhl[~nhl['ZS%_18'].isna()]['ZS%_18'].apply(lambda feat: p2f(feat)/100)

In [315]:
nhl['GC_18'] = nhl[~nhl['GC_18'].isna()]['GC_18'].apply(lambda feat: p2f(feat))

In [316]:
nhl['GS/G_18'] = nhl[~nhl['GS/G_18'].isna()]['GS/G_18'].apply(lambda feat: p2f(feat))
nhl['GS/G_17'] = nhl[~nhl['GS/G_17'].isna()]['GS/G_17'].apply(lambda feat: p2f(feat))

In [317]:
nhl['OWAR_18'] = nhl[~nhl['OWAR_18'].isna()]['OWAR_18'].apply(lambda feat: p2f(feat))

In [318]:
nhl['OPS_18'] = nhl[~nhl['OPS_18'].isna()]['OPS_18'].apply(lambda feat: p2f(feat))
nhl['OPS_17'] = nhl[~nhl['OPS_17'].isna()]['OPS_17'].apply(lambda feat: p2f(feat))

In [319]:
nhl['PDO_18'] = nhl[~nhl['PDO_18'].isna()]['PDO_18'].apply(lambda feat: 1-p2f(feat))
nhl['PDO_17'] = nhl[~nhl['PDO_17'].isna()]['PDO_17'].apply(lambda feat: 1-p2f(feat))

### Fix Units

In [320]:
nhl['PAX_18'] = nhl['PAX_18'].replace(',', '.', regex=True).astype(float)

In [321]:
nhl['Sh%_13'] = nhl[~nhl['Sh%_13'].isna()]['Sh%_13'].apply(lambda feat: p2f(feat)/100)
nhl['Sh%_14'] = nhl[~nhl['Sh%_14'].isna()]['Sh%_14'].apply(lambda feat: p2f(feat)/100)
nhl['Sh%_15'] = nhl[~nhl['Sh%_15'].isna()]['Sh%_15'].apply(lambda feat: p2f(feat)/100)
nhl['Sh%_16'] = nhl[~nhl['Sh%_16'].isna()]['Sh%_16'].apply(lambda feat: p2f(feat)/100)

In [322]:
nhl['Sh%_17'] = nhl['Sh%_17'].replace(',', '.', regex=True)
nhl['Sh%_17'] = nhl[~nhl['Sh%_17'].isna()]['Sh%_17'].apply(lambda feat: p2f(feat)/100)
nhl['Sh%_18'] = nhl['Sh%_18'].replace(',', '.', regex=True)
nhl['Sh%_18'] = nhl[~nhl['Sh%_18'].isna()]['Sh%_18'].apply(lambda feat: p2f(feat)/100)

In [323]:
nhl['TOI/G_17'] = nhl['TOI/G_17'].replace(',', '.', regex=True).astype(float)
nhl['TOI/G_18'] = nhl['TOI/G_18'].replace(',', '.', regex=True).astype(float)

In [324]:
nhl['Star'] = nhl['Star'].replace(',', '.', regex=True).astype(float)

### Keep last team only

In [325]:
nhl['Team'] = nhl.Team.apply(lambda tm: str(tm).split(',')[-1])

### Variance

#### Of GP

In [326]:
def getGPVariance(player):
    GP = []
    # Lock out year
    # if not math.isnan(player.GP_13):
    #   GP.append(player.GP_13)
    if not math.isnan(player.GP_14):
        GP.append(player.GP_14)
    if not math.isnan(player.GP_15):
        GP.append(player.GP_15)
    if not math.isnan(player.GP_16):
        GP.append(player.GP_16)
    if not math.isnan(player.GP_17):
        GP.append(player.GP_17)
    if not math.isnan(player.GP_18):
        GP.append(player.GP_18)
        
    return np.var(GP)
    
nhl['GP_var'] = nhl.apply(lambda player: getGPVariance(player), axis=1)

/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3157: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/_methods.py:110: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

#### Of PTS

In [327]:
def getPTSVariance(player):
    PTS = []
    # Lock out year
    # if not math.isnan(player.PTS_13):
    #     PTS.append(player.PTS_13)
    if not math.isnan(player.PTS_14):
        PTS.append(player.PTS_14)
    if not math.isnan(player.PTS_15):
        PTS.append(player.PTS_15)
    if not math.isnan(player.PTS_16):
        PTS.append(player.PTS_16)
    if not math.isnan(player.PTS_17):
        PTS.append(player.PTS_17)
    if not math.isnan(player.PTS_18):
        PTS.append(player.PTS_18)
        
    return np.var(PTS)
    
nhl['PTS_var'] = nhl.apply(lambda player: getPTSVariance(player), axis=1)

/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3157: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/_methods.py:110: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

#### Of PTS/G

In [328]:
def getPTS_GVariance(player):
    PTS_G = []
    if not math.isnan(player['PTS/G_13']):
        PTS_G.append(player['PTS/G_13'])
    if not math.isnan(player['PTS/G_14']):
        PTS_G.append(player['PTS/G_14'])
    if not math.isnan(player['PTS/G_15']):
        PTS_G.append(player['PTS/G_15'])
    if not math.isnan(player['PTS/G_16']):
        PTS_G.append(player['PTS/G_16'])
    if not math.isnan(player['PTS/G_17']):
        PTS_G.append(player['PTS/G_17'])
    if not math.isnan(player['PTS/G_18']):
        PTS_G.append(player['PTS/G_18'])
        
    return np.var(PTS_G)
    
nhl['PTS/G_var'] = nhl.apply(lambda player: getPTS_GVariance(player), axis=1)

/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3157: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/_methods.py:110: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

### Mean

#### Of GP

In [329]:
def getGPMean(player):
    GP = []
    # if not math.isnan(player.GP_13):
    #     GP.append(player.GP_13)
    if not math.isnan(player.GP_14):
        GP.append(player.GP_14)
    if not math.isnan(player.GP_15):
        GP.append(player.GP_15)
    if not math.isnan(player.GP_16):
        GP.append(player.GP_16)
    if not math.isnan(player.GP_17):
        GP.append(player.GP_17)
    if not math.isnan(player.GP_18):
        GP.append(player.GP_18)
        
    return np.mean(GP)
    
nhl['GP_mean'] = nhl.apply(lambda player: getGPMean(player), axis=1)

/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2920: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

#### Of PTS

In [330]:
def getPTSMean(player):
    PTS = []
    # if not math.isnan(player.PTS_13):
    #     PTS.append(player.PTS_13)
    if not math.isnan(player.PTS_14):
        PTS.append(player.PTS_14)
    if not math.isnan(player.PTS_15):
        PTS.append(player.PTS_15)
    if not math.isnan(player.PTS_16):
        PTS.append(player.PTS_16)
    if not math.isnan(player.PTS_17):
        PTS.append(player.PTS_17)
    if not math.isnan(player.PTS_18):
        PTS.append(player.PTS_18)
        
    return np.mean(PTS)
    
nhl['PTS_mean'] = nhl.apply(lambda player: getPTSMean(player), axis=1)

/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2920: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

#### Of PTS/G

In [331]:
def getPTS_GMean(player):
    PTS_G = []
    if not math.isnan(player['PTS/G_13']):
        PTS_G.append(player['PTS/G_13'])
    if not math.isnan(player['PTS/G_14']):
        PTS_G.append(player['PTS/G_14'])
    if not math.isnan(player['PTS/G_15']):
        PTS_G.append(player['PTS/G_15'])
    if not math.isnan(player['PTS/G_16']):
        PTS_G.append(player['PTS/G_16'])
    if not math.isnan(player['PTS/G_17']):
        PTS_G.append(player['PTS/G_17'])
    if not math.isnan(player['PTS/G_18']):
        PTS_G.append(player['PTS/G_18'])
        
    return np.mean(PTS_G)
    
nhl['PTS/G_mean'] = nhl.apply(lambda player: getPTS_GMean(player), axis=1)

/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2920: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/noiseuce/miniconda3/envs/pool/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

---
## Contracts

### Forwards

In [332]:
nhl_att_contracts = pd.read_csv('/mnt/c/Users/cedric/Dropbox/Pool-Att.csv', header=1, encoding = "utf-8")
# nhl_att_contracts = pd.read_csv(r'C:\Users\Maison\Dropbox\Pool-Att.csv', header=1, encoding = "utf-8")
# nhl_att_contracts = pd.read_csv('~/Dropbox/Pool-Att.csv', header=1, encoding = "utf-8")

In [333]:
nhl_att_contracts['Name'] = nhl_att_contracts.Attaquant.apply(lambda player: re.sub(r'\W+', '', f'{player}').upper())

In [334]:
nhl_att_contracts.set_index('Name', inplace=True)

In [335]:
nhl_att_contracts.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [336]:
nhl_att_contracts.head()

,Tier,Attaquant,TM,AGE,12,13,14,15,16,GP (17),...,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,CONST,EVOL,PDO.1,Unnamed: 48,Unnamed: 49
Name,,,,,,,,,,,,,,,,,,,,,
KANEPATRICK,NaN,Kane Patrick,CHI,28,82.0,47.0,69.0,61.0,82.0,82.0,...,4,8.9,8,3.0,3.0,3,3,-3.0,NaN,29.900000
TOEWSJONATHAN,NaN,Toews Jonathan,CHI,28,59.0,47.0,76.0,81.0,80.0,72.0,...,4,6.6,8,1.5,2.3,4,2,-1.1,NaN,27.255556
KOPITARANZE,NaN,Kopitar Anze,LAK,29,82.0,47.0,82.0,79.0,81.0,76.0,...,4,5.6,6,1.5,2.3,3,2,1.4,NaN,25.760526
OVECHKINALEX,NaN,Ovechkin Alex,WSH,31,78.0,48.0,78.0,81.0,79.0,82.0,...,4,6.9,8,3.0,3.0,4,2,-2.5,NaN,28.400000
BENNJAMIE,NaN,Benn Jamie,DAL,27,71.0,41.0,81.0,82.0,82.0,77.0,...,4,7.3,8,3.0,2.3,4,2,1.3,NaN,31.898052

### Defensemen

In [337]:
nhl_def_contracts = pd.read_csv('/mnt/c/Users/cedric/Dropbox/Pool-Def.csv', header=1, encoding = "utf-8")
# nhl_def_contracts = pd.read_csv(r'C:\Users\Maison\Dropbox\Pool-Def.csv', header=1, encoding = "utf-8")
# nhl_def_contracts = pd.read_csv('~/Dropbox/Pool-Def.csv', header=1, encoding = "utf-8")

In [338]:
nhl_def_contracts['Name'] = nhl_def_contracts.Defenseur.apply(lambda player: re.sub(r'\W+', '', f'{player}').upper())

In [339]:
nhl_def_contracts.set_index('Name', inplace=True)

In [340]:
nhl_def_contracts.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [341]:
nhl_def_contracts.head()

,Tier,Defenseur,TM,AGE,12,13,14,15,16,GP (17),...,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,CONST,EVOL,PDO.1,Unnamed: 48,Unnamed: 49
Name,,,,,,,,,,,,,,,,,,,,,
SUBBANPK,NaN,Subban P.K.,MTL,28.0,81,42,82,82.0,68.0,66.0,...,4,5.0,8,1.5,2.3,4,2,1.4,NaN,28.119697
BURNSBRENT,x,Burns Brent,SJS,32.0,81,30,69,82.0,82.0,82.0,...,4,7.6,8,4.5,3.0,4,3,-1.9,NaN,32.200000
HEDMANVICTOR,x,Hedman Victor,TBL,27.0,61,44,75,59.0,78.0,79.0,...,4,7.5,8,4.5,2.3,3,4,-3.1,NaN,30.123418
WEBERSHEA,NaN,Weber Shea,MTL,32.0,78,48,79,78.0,78.0,78.0,...,4,4.4,8,3.0,3.0,3,2,-2.5,NaN,24.915385
BYFUGLIENDUSTIN,x,Byfuglien Dustin,WPG,32.0,66,43,78,69.0,81.0,80.0,...,4,5.3,8,3.0,3.0,4,2,0.3,NaN,29.630000

### All

In [342]:
nhl_contracts = pd.concat([nhl_att_contracts, nhl_def_contracts], sort=True)

In [343]:
nhl = nhl.join(nhl_contracts.END)

In [344]:
nhl = nhl.join(nhl_contracts.SALARY)

In [345]:
nhl['SALARY'] = nhl['SALARY'].replace(',', '', regex=True).astype(float)

---
## Reformat

In [346]:
nhl.columns

Index(['Last_Name', 'First_Name', 'Team', 'Age', 'Position', 'GP_13', 'GP_14',
       'GP_15', 'GP_16', 'GP_17', 'GP_18', 'G_13', 'G_14', 'G_15', 'G_16',
       'G_17', 'G_18', 'A_13', 'A_14', 'A_15', 'A_16', 'A_17', 'A_18',
       'PTS_13', 'PTS_14', 'PTS_15', 'PTS_16', 'PTS_17', 'PTS_18', 'PAX_18',
       'Sh%_13', 'Sh%_14', 'Sh%_15', 'Sh%_16', 'Sh%_17', 'Sh%_18', 'iSF_13',
       'iSF_14', 'iSF_15', 'iSF_16', 'iSF_17', 'iSF_18', 'TOI/G_13',
       'TOI/G_14', 'TOI/G_15', 'TOI/G_16', 'TOI/G_17', 'TOI/G_18',
       'PPTOI/GP_17', 'PPTOI/GP_18', 'ZS%_18', 'GC_18', 'SCF_17', 'SCF_18',
       'GS/G_17', 'GS/G_18', 'OWAR_18', 'OPS_17', 'OPS_18', 'PDO_17', 'PDO_18',
       'iCF_17', 'iCF_18', 'iFF_17', 'iFF_18', 'Star', 'Salary_18',
       'Cap Cost_13', 'Cap Cost_14', 'Cap Cost_15', 'Cap Hit_16', 'Cap Hit_17',
       'Cap Hit_18', 'PTS/G_13', 'PTS/G_14', 'PTS/G_15', 'PTS/G_16',
       'PTS/G_17', 'PTS/G_18', '$/PTS_13', '$/PTS_14', '$/PTS_15', '$/PTS_16',
       '$/PTS_17', '$/PTS_18', 'GP_var', 'PTS_var', 'PTS/G_var', 'GP_mean',
       'PTS_mean', 'PTS/G_mean', 'END', 'SALARY'],
      dtype='object')

In [347]:
nhl = nhl[['Last_Name', 'First_Name', 'Team', 'Age', 'Position', 
           'GP_13', 'GP_14', 'GP_15', 'GP_16', 'GP_17', 'GP_18', 'GP_mean', 'GP_var',
           'G_13', 'G_14', 'G_15', 'G_16', 'G_17', 'G_18', 
           'A_13', 'A_14', 'A_15', 'A_16', 'A_17', 'A_18',
           'PTS_13', 'PTS_14', 'PTS_15', 'PTS_16', 'PTS_17', 'PTS_18', 'PTS_mean', 'PTS_var', 
           'PAX_18',
           'PTS/G_13', 'PTS/G_14', 'PTS/G_15', 'PTS/G_16', 'PTS/G_17', 'PTS/G_18', 'PTS/G_mean', 'PTS/G_var',
           '$/PTS_13', '$/PTS_14', '$/PTS_15', '$/PTS_16', '$/PTS_17', '$/PTS_18',
           'Sh%_13', 'Sh%_14', 'Sh%_15', 'Sh%_16', 'Sh%_17', 'Sh%_18', 
           'iSF_13', 'iSF_14', 'iSF_15', 'iSF_16', 'iSF_17', 'iSF_18', 
           'TOI/G_13', 'TOI/G_14', 'TOI/G_15', 'TOI/G_16', 'TOI/G_17', 'TOI/G_18',
           'PPTOI/GP_17', 'PPTOI/GP_18', 
           'ZS%_18', # Zone start percentage, the percentage of shifts started in the offensive zone, not counting neutral zone or on-the-fly changes
           'GC_18', # Goals Created, which is half-point for a goal, and a variable amount depending on the team's assists per goal
           'SCF_17', 'SCF_18', # Team scoring chances while this player was on the ice
           'GS/G_17', 'GS/G_18', # The player's average game score
           'OWAR_18', # Offensive wins above replacement, a catch-all stat that measures a player's offensive contributions in terms of wins
           'OPS_17','OPS_18', # Offensive point shares, a catch-all stats that measures a player's offensive contributions in points in the standings
           'PDO_17', 'PDO_18', # The team's shooting and save percentages added together, times a thousand
           'iCF_17', 'iCF_18', # Shot attempts (Corsi, SAT) taken by this individual
           'iFF_17', 'iFF_18', # Unblocked shot attempts (Fenwick, USAT) taken by this individual
           'Cap Cost_13', 'Cap Cost_14', 'Cap Cost_15', 'Cap Hit_16', 'Cap Hit_17', 'Cap Hit_18', 
           'END',
           'Star']]

In [348]:
nhl.head()

,Last_Name,First_Name,Team,Age,Position,GP_13,GP_14,GP_15,GP_16,GP_17,...,iFF_17,iFF_18,Cap Cost_13,Cap Cost_14,Cap Cost_15,Cap Hit_16,Cap Hit_17,Cap Hit_18,END,Star
Name,,,,,,,,,,,,,,,,,,,,,
ABDELKADERJUSTIN,Abdelkader,Justin,DET,31.0,LW,48.0,70.0,71.0,82.0,64.0,...,138.0,164.0,1800000.0,1800000.0,1800000.0,1800000.0,4250000.0,4250000.0,23.0,2.1930
ABERGPONTUS,Aberg,Pontus,EDM,25.0,LW,NaN,NaN,NaN,NaN,15.0,...,15.0,101.0,NaN,NaN,NaN,NaN,780833.0,650000.0,19.0,0.9651
ACCIARINOEL,Acciari,Noel,BOS,27.0,C,NaN,NaN,NaN,19.0,29.0,...,NaN,92.0,NaN,NaN,NaN,793000.0,792500.0,725000.0,19.0,0.7466
AGOSTINOKENNY,Agostino,Kenny,BOS,26.0,LW,NaN,8.0,NaN,2.0,7.0,...,24.0,16.0,NaN,900000.0,NaN,830000.0,625000.0,875000.0,18.0,0.0125
AHOSEBASTIAN,Aho,Sebastian,NYI,22.0,D,NaN,NaN,NaN,NaN,82.0,...,285.0,33.0,NaN,NaN,NaN,NaN,925000.0,770000.0,19.0,0.4247

### Find Players with Different Names through time

In [349]:
# def find_names(plyr):
#     print(f'{plyr.Last_Name} {plyr.First_Name}')
#     print('...')
#     lastname = re.sub(r'\W+', '', f'{plyr.Last_Name}').upper()
#     for name in nhl.index.values:
#         index = name.find(lastname)
#         if index > -1:
#             print(f' => {name}')
#     print('...')
    
# nhl.apply(lambda plyr: find_names(plyr), axis=1)

---
## Player score

In [350]:
def normalizeFeature(feature):
    #Normalized Data
    return (feature-min(feature))/(max(feature)-min(feature))

In [351]:
def getPlayerScore(player):
    name = player.name
    return -normalizeFeature(nhl.GP_var)[name] + normalizeFeature(nhl.GP_mean)[name] - normalizeFeature(nhl.PTS_var)[name] + normalizeFeature(nhl.PTS_mean)[name] - \
            normalizeFeature(nhl['PTS/G_var'])[name] + normalizeFeature(nhl['PTS/G_mean'])[name] - normalizeFeature(nhl['$/PTS_18'])[name] + \
            normalizeFeature(nhl['PPTOI/GP_18'])[name] + normalizeFeature(nhl['ZS%_18'])[name] + normalizeFeature(nhl['GC_18'])[name] + \
            normalizeFeature(nhl['SCF_18'])[name] + normalizeFeature(nhl['GS/G_18'])[name] + normalizeFeature(nhl['OWAR_18'])[name] + \
            normalizeFeature(nhl['OPS_18'])[name] + normalizeFeature(nhl['PDO_18'])[name] + normalizeFeature(nhl['iCF_18'])[name] + \
            normalizeFeature(nhl['iFF_18'])[name]

In [352]:
nhl['Score'] = nhl.apply(lambda player: getPlayerScore(player), axis=1)

In [353]:
nhl.sort_values(['Score'], ascending=False).head(10)

,Last_Name,First_Name,Team,Age,Position,GP_13,GP_14,GP_15,GP_16,GP_17,...,iFF_18,Cap Cost_13,Cap Cost_14,Cap Cost_15,Cap Hit_16,Cap Hit_17,Cap Hit_18,END,Star,Score
Name,,,,,,,,,,,,,,,,,,,,,
OVECHKINALEX,Ovechkin,Alex,WSH,33.0,LW,48.0,78.0,81.0,79.0,82.0,...,526.0,9538462.0,9538462.0,9538000.0,9538000.0,9538462.0,9538462.0,21.0,17.1676,10.382087
MCDAVIDCONNOR,McDavid,Connor,EDM,22.0,C,NaN,NaN,NaN,45.0,82.0,...,357.0,NaN,NaN,NaN,925000.0,925000.0,925000.0,18.0,18.1365,9.695512
CROSBYSIDNEY,Crosby,Sidney,PIT,31.0,C,36.0,80.0,77.0,80.0,75.0,...,341.0,8700000.0,8700000.0,8700000.0,8700000.0,8700000.0,8700000.0,25.0,12.6759,9.428396
KUCHEROVNIKITA,Kucherov,Nikita,TBL,25.0,RW,NaN,52.0,82.0,77.0,74.0,...,422.0,NaN,894167.0,889000.0,712000.0,4766667.0,4766667.0,19.0,14.4986,9.178601
MALKINEVGENI,Malkin,Evgeni,PIT,32.0,C,31.0,60.0,69.0,57.0,62.0,...,306.0,8700000.0,8700000.0,9500000.0,9500000.0,9500000.0,9500000.0,22.0,15.3639,9.148459
MACKINNONNATHAN,MacKinnon,Nathan,COL,23.0,C,NaN,82.0,64.0,72.0,82.0,...,393.0,NaN,3775000.0,3775000.0,925000.0,6300000.0,6300000.0,23.0,17.1999,9.080860
KESSELPHIL,Kessel,Phil,PIT,31.0,RW,48.0,82.0,82.0,82.0,82.0,...,327.0,5400000.0,5400000.0,8000000.0,8000000.0,8000000.0,8000000.0,22.0,12.1779,9.079078
SEGUINTYLER,Seguin,Tyler,DAL,27.0,C,48.0,80.0,71.0,72.0,82.0,...,444.0,900000.0,5750000.0,5750000.0,5750000.0,5750000.0,5750000.0,19.0,15.0332,9.000681
BURNSBRENT,Burns,Brent,SJS,33.0,D,30.0,69.0,82.0,82.0,82.0,...,481.0,5760000.0,5760000.0,5760000.0,5760000.0,5760000.0,8000000.0,25.0,6.4894,8.957750
GIROUXCLAUDE,Giroux,Claude,PHI,31.0,C,48.0,82.0,81.0,78.0,82.0,...,251.0,3750000.0,3750000.0,8275000.0,8275000.0,8275000.0,8275000.0,22.0,13.3160,8.838302

---
## Salary Correction

In [354]:
# Salaries of 2018-2019 season
nhl_salaries = pd.read_csv('/mnt/c/Users/cedric/Dropbox/Salaries-2018-2019.csv', header=None, encoding = "utf-8")
# nhl_salaries = pd.read_csv(r'C:\Users\Maison\Dropbox\Salaries-2018-2019.csv', header=None, encoding = "utf-8")
# nhl_salaries = pd.read_csv('~/Dropbox/Salaries-2018-2019.csv', header=None, encoding = "utf-8")

In [355]:
nhl_salaries.columns = ['Player', 'Team', 'Salary', 'Cap_Hit']

In [356]:
nhl_salaries['Name'] = nhl_salaries.Player.apply(lambda player: re.sub(r'\W+', '', f'{player}').upper())

In [357]:
nhl_salaries.set_index('Name', inplace=True)

In [358]:
nhl_salaries.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

In [359]:
nhl_salaries.head()

                       Player Team      Salary     Cap_Hit
Name
JOHNTAVARES      John Tavares  TOR  15,900,000  11,000,000
CAREYPRICE        Carey Price  MTL  15,000,000  10,500,000
CONNORMCDAVID  Connor McDavid  EDM  15,000,000  12,500,000
JAMIEBENN          Jamie Benn  DAL  13,000,000   9,500,000
JONATHANTOEWS  Jonathan Toews  CHI  12,000,000  10,500,000

In [360]:
# Reverse index of df and join the salaries
nhl = nhl.set_index(nhl.apply(lambda player: re.sub(r'\W+', '', f'{player["First_Name"]}{player["Last_Name"]}').upper(), axis=1)).join(nhl_salaries.Cap_Hit)

# Put index to initial order                                                    
nhl.set_index(nhl.apply(lambda player: re.sub(r'\W+', '', f'{player["Last_Name"]}{player["First_Name"]}').upper(), axis=1), inplace=True)

In [361]:
# Convert to float
nhl['Cap_Hit'] = nhl['Cap_Hit'].replace(',', '', regex=True).astype(float)

In [362]:
# If contract ended last year, put ending year to NaN and add manually
nhl.loc[nhl.END == 18, 'END'] = np.nan

In [363]:
nhl = nhl[['Last_Name', 'First_Name', 'Team', 'Age', 'Position', 
           'GP_13', 'GP_14', 'GP_15', 'GP_16', 'GP_17', 'GP_18', 'GP_mean', 'GP_var',
           'G_13', 'G_14', 'G_15', 'G_16', 'G_17', 'G_18', 
           'A_13', 'A_14', 'A_15', 'A_16', 'A_17', 'A_18',
           'PTS_13', 'PTS_14', 'PTS_15', 'PTS_16', 'PTS_17', 'PTS_18', 'PTS_mean', 'PTS_var', 
           'PAX_18',
           'PTS/G_13', 'PTS/G_14', 'PTS/G_15', 'PTS/G_16', 'PTS/G_17', 'PTS/G_18', 'PTS/G_mean', 'PTS/G_var',
           '$/PTS_13', '$/PTS_14', '$/PTS_15', '$/PTS_16', '$/PTS_17', '$/PTS_18',
           'Sh%_13', 'Sh%_14', 'Sh%_15', 'Sh%_16', 'Sh%_17', 'Sh%_18', 
           'iSF_13', 'iSF_14', 'iSF_15', 'iSF_16', 'iSF_17', 'iSF_18', 
           'TOI/G_13', 'TOI/G_14', 'TOI/G_15', 'TOI/G_16', 'TOI/G_17', 'TOI/G_18',
           'PPTOI/GP_17', 'PPTOI/GP_18', 
           'ZS%_18', # Zone start percentage, the percentage of shifts started in the offensive zone, not counting neutral zone or on-the-fly changes
           'GC_18', # Goals Created, which is half-point for a goal, and a variable amount depending on the team's assists per goal
           'SCF_17', 'SCF_18', # Team scoring chances while this player was on the ice
           'GS/G_17', 'GS/G_18', # The player's average game score
           'OWAR_18', # Offensive wins above replacement, a catch-all stat that measures a player's offensive contributions in terms of wins
           'OPS_17','OPS_18', # Offensive point shares, a catch-all stats that measures a player's offensive contributions in points in the standings
           'PDO_17', 'PDO_18', # The team's shooting and save percentages added together, times a thousand
           'iCF_17', 'iCF_18', # Shot attempts (Corsi, SAT) taken by this individual
           'iFF_17', 'iFF_18', # Unblocked shot attempts (Fenwick, USAT) taken by this individual
           'Cap Cost_13', 'Cap Cost_14', 'Cap Cost_15', 'Cap Hit_16', 'Cap Hit_17', 'Cap Hit_18', 
           'END',
           'Star', 'Score']]
nhl = nhl.sort_values(['Score'], ascending=False)
nhl.head(10)

,Last_Name,First_Name,Team,Age,Position,GP_13,GP_14,GP_15,GP_16,GP_17,...,iFF_18,Cap Cost_13,Cap Cost_14,Cap Cost_15,Cap Hit_16,Cap Hit_17,Cap Hit_18,END,Star,Score
OVECHKINALEX,Ovechkin,Alex,WSH,33.0,LW,48.0,78.0,81.0,79.0,82.0,...,526.0,9538462.0,9538462.0,9538000.0,9538000.0,9538462.0,9538462.0,21.0,17.1676,10.382087
MCDAVIDCONNOR,McDavid,Connor,EDM,22.0,C,NaN,NaN,NaN,45.0,82.0,...,357.0,NaN,NaN,NaN,925000.0,925000.0,925000.0,NaN,18.1365,9.695512
CROSBYSIDNEY,Crosby,Sidney,PIT,31.0,C,36.0,80.0,77.0,80.0,75.0,...,341.0,8700000.0,8700000.0,8700000.0,8700000.0,8700000.0,8700000.0,25.0,12.6759,9.428396
KUCHEROVNIKITA,Kucherov,Nikita,TBL,25.0,RW,NaN,52.0,82.0,77.0,74.0,...,422.0,NaN,894167.0,889000.0,712000.0,4766667.0,4766667.0,19.0,14.4986,9.178601
MALKINEVGENI,Malkin,Evgeni,PIT,32.0,C,31.0,60.0,69.0,57.0,62.0,...,306.0,8700000.0,8700000.0,9500000.0,9500000.0,9500000.0,9500000.0,22.0,15.3639,9.148459
MACKINNONNATHAN,MacKinnon,Nathan,COL,23.0,C,NaN,82.0,64.0,72.0,82.0,...,393.0,NaN,3775000.0,3775000.0,925000.0,6300000.0,6300000.0,23.0,17.1999,9.080860
KESSELPHIL,Kessel,Phil,PIT,31.0,RW,48.0,82.0,82.0,82.0,82.0,...,327.0,5400000.0,5400000.0,8000000.0,8000000.0,8000000.0,8000000.0,22.0,12.1779,9.079078
SEGUINTYLER,Seguin,Tyler,DAL,27.0,C,48.0,80.0,71.0,72.0,82.0,...,444.0,900000.0,5750000.0,5750000.0,5750000.0,5750000.0,5750000.0,19.0,15.0332,9.000681
BURNSBRENT,Burns,Brent,SJS,33.0,D,30.0,69.0,82.0,82.0,82.0,...,481.0,5760000.0,5760000.0,5760000.0,5760000.0,5760000.0,8000000.0,25.0,6.4894,8.957750
GIROUXCLAUDE,Giroux,Claude,PHI,31.0,C,48.0,82.0,81.0,78.0,82.0,...,251.0,3750000.0,3750000.0,8275000.0,8275000.0,8275000.0,8275000.0,22.0,13.3160,8.838302

In [364]:
nhl['Team'] = nhl.Team.apply(lambda tm: str(tm).split(' ,')[-1])

In [365]:
nhl[~(nhl.index == 'NANNAN') & (nhl.Position == 'D')].to_csv('./nhl_def.csv', sep=';')

---
## Predictions

In [366]:
# Read projections
# projections_all = pd.read_csv(r'C:\Users\Maison\Dropbox\ChuckLemieux.csv', encoding = "utf-8")
projections_all = pd.read_csv('/mnt/c/Users/cedric/Dropbox/ChuckLemieux.csv', encoding = "utf-8")

# projections_tsn = pd.read_csv(r'C:\Users\Maison\Dropbox\Cullen.csv', header=2, encoding = "utf-8")
projections_tsn = pd.read_csv('/mnt/c/Users/cedric/Dropbox/Cullen.csv', header=2, encoding = "utf-8")

In [367]:
# Name index / Sort / Subset
projections_all['Name'] = projections_all.apply(lambda player: re.sub(r'\W+', '', f'{player["Player"]}').upper(), axis=1)
projections_all.set_index('Name', inplace=True)
projections_all.sort_index(inplace=True)
projections_all = projections_all[['Position', 'Chuck\nLemieux', 'NHL', 'ESPN', 'Fantrax', 'TSN']]
                                                                      
# Name index / Sort / Subset                                                                      
projections_tsn['Name'] = projections_tsn.apply(lambda player: re.sub(r'\W+', '', f'{player["PLAYER"]}').upper(), axis=1)
projections_tsn.set_index('Name', inplace=True)
projections_tsn.sort_index(inplace=True)
projections_tsn = projections_tsn[['POS', 'PTS']]

### All

In [368]:
# Reformat nhl df
nhl_for_join = nhl.copy()
nhl_for_join['Name'] = nhl.apply(lambda player: re.sub(r'\W+', '', f'{player["First_Name"]}{player["Last_Name"]}').upper(), axis=1)
nhl_for_join.set_index('Name', inplace=True)
nhl_for_join = nhl_for_join.sort_index()

In [369]:
# Join
nhl_for_join = nhl_for_join.join(projections_all, lsuffix='_real', rsuffix='_projection')
nhl_for_join = nhl_for_join.sort_values('Last_Name')

In [370]:
nhl_for_join['Name'] = nhl_for_join.apply(lambda player: re.sub(r'\W+', '', f'{player["Last_Name"]}{player["First_Name"]}').upper(), axis=1)
nhl_for_join.set_index('Name', inplace=True)
nhl_for_join = nhl_for_join.sort_index()

In [371]:
nhl_for_join[~(nhl_for_join.index == 'NANNAN') & (nhl_for_join.Position_real == 'D')].to_csv('./nhl_projections_def.csv', sep=';')

In [372]:
nhl_for_join[~(nhl_for_join.index == 'NANNAN') & (nhl_for_join.Position_real == 'D')]

,Last_Name,First_Name,Team,Age,Position_real,GP_13,GP_14,GP_15,GP_16,GP_17,...,Cap Hit_18,END,Star,Score,Position_projection,Chuck Lemieux,NHL,ESPN,Fantrax,TSN
Name,,,,,,,,,,,,,,,,,,,,,
AHOSEBASTIAN,Aho,Sebastian,NYI,22.0,D,NaN,NaN,NaN,NaN,82.0,...,770000.0,19.0,0.4247,3.013719,C/LW,67.0,70.0,73.0,75.0,65.0
ALTMARK,Alt,Mark,COL,27.0,D,NaN,NaN,1.0,NaN,NaN,...,650000.0,NaN,0.0019,1.836919,NaN,NaN,NaN,NaN,NaN,NaN
ALZNERKARL,Alzner,Karl,MTL,30.0,D,48.0,82.0,82.0,82.0,82.0,...,4625000.0,22.0,0.5557,3.556680,NaN,NaN,NaN,NaN,NaN,NaN
ANDERSSONRASMUS,Andersson,Rasmus,CGY,22.0,D,NaN,NaN,NaN,NaN,1.0,...,755833.0,20.0,0.0075,2.372056,NaN,NaN,NaN,NaN,NaN,NaN
ANTIPINVICTOR,Antipin,Victor,BUF,26.0,D,NaN,NaN,NaN,NaN,NaN,...,925000.0,NaN,0.3034,3.274368,NaN,NaN,NaN,NaN,NaN,NaN
AUVITUYOHANN,Auvitu,Yohann,EDM,29.0,D,NaN,NaN,NaN,NaN,25.0,...,700000.0,NaN,0.2644,3.202083,NaN,NaN,NaN,NaN,NaN,NaN
BARBERIOMARK,Barberio,Mark,COL,28.0,D,2.0,49.0,52.0,30.0,60.0,...,750000.0,NaN,0.5664,2.997907,NaN,NaN,NaN,NaN,NaN,NaN
BARRIETYSON,Barrie,Tyson,COL,27.0,D,32.0,64.0,80.0,78.0,74.0,...,5500000.0,20.0,5.3855,7.090033,D,49.0,60.0,64.0,49.0,50.0
BARTKOWSKIMATT,Bartkowski,Matt,CGY,30.0,D,11.0,64.0,47.0,80.0,24.0,...,612500.0,NaN,0.0769,2.225656,NaN,NaN,NaN,NaN,NaN,NaN
BEARETHAN,Bear,Ethan,EDM,21.0,D,NaN,NaN,NaN,NaN,NaN,...,720000.0,NaN,0.2036,2.902058,NaN,NaN,NaN,NaN,NaN,NaN
BEAUCHEMINFRANCOIS,Beauchemin,Francois,ANA,38.0,D,48.0,70.0,64.0,82.0,81.0,...,1000000.0,NaN,0.9339,4.121762,NaN,NaN,NaN,NaN,NaN,NaN
BEAULIEUNATHAN,Beaulieu,Nathan,BUF,26.0,D,6.0,17.0,64.0,64.0,74.0,...,2400000.0,19.0,0.1678,3.225223,NaN,NaN,NaN,NaN,NaN,NaN
BELPEDIOLOUIE,Belpedio,Louie,MIN,22.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0249,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BENNINGMATT,Benning,Matt,EDM,24.0,D,NaN,NaN,NaN,NaN,NaN,...,925000.0,NaN,1.6368,4.828647,NaN,NaN,NaN,NaN,NaN,NaN
BENNJORDIE,Benn,Jordie,MTL,31.0,D,26.0,78.0,73.0,64.0,71.0,...,1100000.0,19.0,0.9088,4.051895,NaN,NaN,NaN,NaN,NaN,NaN
BIEGAALEX,Biega,Alex,VAN,30.0,D,NaN,NaN,7.0,51.0,36.0,...,750000.0,NaN,0.3976,2.834889,NaN,NaN,NaN,NaN,NaN,NaN
BIEKSAKEVIN,Bieksa,Kevin,ANA,37.0,D,36.0,76.0,60.0,71.0,81.0,...,4000000.0,NaN,0.2127,3.185839,NaN,NaN,NaN,NaN,NaN,NaN
BIGRASCHRIS,Bigras,Chris,COL,23.0,D,NaN,NaN,NaN,31.0,NaN,...,843333.0,NaN,0.0041,2.052516,NaN,NaN,NaN,NaN,NaN,NaN
BITETTOANTHONY,Bitetto,Anthony,NSH,28.0,D,NaN,NaN,7.0,28.0,29.0,...,612500.0,NaN,0.2271,2.231076,NaN,NaN,NaN,NaN,NaN,NaN
BOGOSIANZACH,Bogosian,Zach,BUF,28.0,D,33.0,55.0,62.0,64.0,56.0,...,5142857.0,20.0,0.0344,1.832984,NaN,NaN,NaN,NaN,NaN,NaN
BORGMANANDREAS,Borgman,Andreas,TOR,23.0,D,NaN,NaN,NaN,NaN,NaN,...,925000.0,NaN,0.1020,3.268363,NaN,NaN,NaN,NaN,NaN,NaN
BOROWIECKIMARK,Borowiecki,Mark,OTT,29.0,D,6.0,13.0,63.0,63.0,70.0,...,1100000.0,NaN,0.3948,2.822328,NaN,NaN,NaN,NaN,NaN,NaN
BORTUZZOROBERT,Bortuzzo,Robert,STL,29.0,D,15.0,54.0,51.0,40.0,38.0,...,1150000.0,19.0,0.5992,3.331797,NaN,NaN,NaN,NaN,NaN,NaN
BOUWMEESTERJAY,Bouwmeester,Jay,STL,35.0,D,47.0,82.0,72.0,72.0,81.0,...,5400000.0,19.0,0.5185,2.796010,NaN,NaN,NaN,NaN,NaN,NaN
BOWEYMADISON,Bowey,Madison,WSH,23.0,D,NaN,NaN,NaN,NaN,NaN,...,703333.0,NaN,0.1363,3.167284,NaN,NaN,NaN,NaN,NaN,NaN
BOYCHUKJOHNNY,Boychuk,Johnny,NYI,35.0,D,44.0,75.0,72.0,70.0,66.0,...,6000000.0,22.0,1.9892,4.221983,NaN,NaN,NaN,NaN,NaN,NaN
BRAUNJUSTIN,Braun,Justin,SJS,31.0,D,41.0,82.0,70.0,80.0,81.0,...,3800000.0,20.0,1.7682,4.363398,NaN,NaN,NaN,NaN,NaN,NaN
BRICKLEYDANIEL,Brickley,Daniel,LAK,23.0,D,NaN,NaN,NaN,NaN,NaN,...,925000.0,NaN,0.0006,2.020654,NaN,NaN,NaN,NaN,NaN,NaN
BRODIETJ,Brodie,TJ,CGY,28.0,D,47.0,81.0,81.0,70.0,82.0,...,4650400.0,20.0,2.2662,5.683965,D,33.0,33.0,35.0,34.0,34.0
BRODINJONAS,Brodin,Jonas,MIN,25.0,D,45.0,79.0,71.0,68.0,68.0,...,4166667.0,21.0,2.0588,4.047934,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SPURGEONJARED,Spurgeon,Jared,MIN,29.0,D,39.0,67.0,66.0,77.0,76.0,...,5187500.0,20.0,4.1192,5.643240,D,39.0,39.0,38.0,33.0,36.0
STAALMARC,Staal,Marc,NYR,32.0,D,21.0,72.0,80.0,77.0,72.0,...,5700000.0,21.0,0.3354,2.776682,NaN,NaN,NaN,NaN,NaN,NaN
STECHERTROY,Stecher,Troy,VAN,24.0,D,NaN,NaN,NaN,NaN,71.0,...,925000.0,NaN,0.7945,3.872189,NaN,NaN,NaN,NaN,NaN,NaN
STONEMICHAEL,Stone,Michael,CGY,28.0,D,40.0,70.0,81.0,75.0,64.0,...,3500000.0,20.0,0.7003,3.934740,NaN,NaN,NaN,NaN,NaN,NaN
STRALMANANTON,Stralman,Anton,TBL,32.0,D,48.0,81.0,82.0,73.0,73.0,...,4500000.0,19.0,1.2130,4.421563,NaN,NaN,NaN,NaN,NaN,NaN
STREITMARK,Streit,Mark,MTL,41.0,D,48.0,82.0,81.0,62.0,68.0,...,NaN,NaN,0.0002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUBBANPK,Subban,P.K.,NSH,29.0,D,42.0,82.0,82.0,68.0,66.0,...,9000000.0,22.0,5.4057,7.202988,D,52.0,58.0,56.0,51.0,54.0
SUSTRANDREJ,Sustr,Andrej,TBL,28.0,D,2.0,43.0,72.0,77.0,80.0,...,1950000.0,NaN,0.1929,2.894901,NaN,NaN,NaN,NaN,NaN,NaN
SUTERRYAN,Suter,Ryan,MIN,34.0,D,48.0,82.0,77.0,82.0,82.0,...,7538462.0,25.0,4.2080,6.558380,D,43.0,49.0,49.0,33.0,48.0
TANEVCHRISTOPHER,Tanev,Christopher,VAN,29.0,D,38.0,64.0,70.0,69.0,NaN,...,4450000.0,NaN,1.2424,2.922989,NaN,NaN,NaN,NaN,NaN,NaN
TENNYSONMATT,Tennyson,Matt,BUF,28.0,D,4.0,NaN,27.0,29.0,45.0,...,650000.0,19.0,0.0125,2.643502,NaN,NaN,NaN,NaN,NaN,NaN
THEODORESHEA,Theodore,Shea,VGK,23.0,D,NaN,NaN,NaN,19.0,34.0,...,863333.0,NaN,2.6505,4.944941,D,41.0,42.0,36.0,40.0,37.0
TROTMANZACH,Trotman,Zach,PIT,28.0,D,NaN,2.0,27.0,38.0,NaN,...,650000.0,NaN,0.0006,2.457493,NaN,NaN,NaN,NaN,NaN,NaN
TROUBAJACOB,Trouba,Jacob,WPG,24.0,D,NaN,65.0,65.0,81.0,60.0,...,2812500.0,NaN,1.9062,4.873923,D,40.0,37.0,32.0,35.0,26.0
VALIEVRINAT,Valiev,Rinat,MTL,23.0,D,NaN,NaN,NaN,10.0,NaN,...,778333.0,NaN,0.0000,2.047938,NaN,NaN,NaN,NaN,NaN,NaN
VANRIEMSDYKTREVOR,van Riemsdyk,Trevor,CAR,27.0,D,NaN,NaN,18.0,82.0,58.0,...,825000.0,NaN,0.7538,3.736389,NaN,NaN,NaN,NaN,NaN,NaN
VATANENSAMI,Vatanen,Sami,NJD,27.0,D,8.0,48.0,67.0,71.0,71.0,...,4875000.0,20.0,2.6679,5.288993,D,32.0,40.0,34.0,39.0,32.0
VLASICMARCEDOUARD,Vlasic,Marc-Edouard,SJS,31.0,D,48.0,81.0,70.0,67.0,75.0,...,4250000.0,NaN,2.6508,5.147609,D,33.0,35.0,32.0,31.0,31.0
WARSOFSKYDAVID,Warsofsky,David,COL,28.0,D,NaN,6.0,4.0,22.0,7.0,...,675000.0,19.0,0.0193,2.183179,NaN,NaN,NaN,NaN,NaN,NaN
WEBERSHEA,Weber,Shea,MTL,33.0,D,48.0,79.0,78.0,78.0,78.0,...,7857143.0,26.0,2.4299,5.063363,NaN,NaN,NaN,NaN,NaN,NaN
WEBERYANNICK,Weber,Yannick,NSH,30.0,D,6.0,49.0,65.0,45.0,73.0,...,650000.0,NaN,0.0540,2.928958,NaN,NaN,NaN,NaN,NaN,NaN
WEEGARMACKENZIE,Weegar,MacKenzie,FLA,25.0,D,NaN,NaN,NaN,NaN,3.0,...,675000.0,NaN,0.4815,2.552327,NaN,NaN,NaN,NaN,NaN,NaN
WELINSKIANDY,Welinski,Andy,ANA,25.0,D,NaN,NaN,NaN,NaN,NaN,...,925000.0,NaN,0.0335,2.250898,NaN,NaN,NaN,NaN,NaN,NaN
WERENSKIZACH,Werenski,Zach,CBJ,21.0,D,NaN,NaN,NaN,NaN,78.0,...,925000.0,19.0,4.1396,6.775617,D,44.0,45.0,48.0,43.0,44.0
WHITECLOUDZACH,Whitecloud,Zach,VGK,22.0,D,NaN,NaN,NaN,NaN,NaN,...,925000.0,NaN,0.0002,2.039492,NaN,NaN,NaN,NaN,NaN,NaN
WIDEMANCHRIS,Wideman,Chris,OTT,29.0,D,NaN,NaN,NaN,64.0,76.0,...,800000.0,NaN,0.1587,3.347014,NaN,NaN,NaN,NaN,NaN,NaN
WOLANINCHRISTIAN,Wolanin,Christian,OTT,23.0,D,NaN,NaN,NaN,NaN,NaN,...,925000.0,NaN,0.0089,2.838529,NaN,NaN,NaN,NaN,NaN,NaN
YANDLEKEITH,Yandle,Keith,FLA,32.0,D,48.0,82.0,84.0,82.0,82.0,...,6350000.0,23.0,4.1908,6.934866,D,53.0,58.0,53.0,51.0,53.0
ZADOROVNIKITA,Zadorov,Nikita,COL,23.0,D,NaN,7.0,60.0,22.0,56.0,...,2150000.0,19.0,2.0372,3.253463,NaN,NaN,NaN,NaN,NaN,NaN
ZAITSEVNIKITA,Zaitsev,Nikita,TOR,27.0,D,NaN,NaN,NaN,NaN,82.0,...,4500000.0,24.0,2.0702,3.591049,NaN,NaN,NaN,NaN,NaN,NaN

### Cullen

In [373]:
# Reformat nhl df
nhl_for_join = nhl.copy()
nhl_for_join['Name'] = nhl.apply(lambda player: re.sub(r'\W+', '', f'{player["First_Name"]}{player["Last_Name"]}').upper(), axis=1)
nhl_for_join.set_index('Name', inplace=True)
nhl_for_join = nhl_for_join.sort_index()

In [374]:
# Join
nhl_for_join = nhl_for_join.join(projections_tsn, lsuffix='_real', rsuffix='_projection')
nhl_for_join = nhl_for_join.sort_values('Last_Name')

In [375]:
nhl_for_join['Name'] = nhl_for_join.apply(lambda player: re.sub(r'\W+', '', f'{player["Last_Name"]}{player["First_Name"]}').upper(), axis=1)
nhl_for_join.set_index('Name', inplace=True)
nhl_for_join = nhl_for_join.sort_index()

In [376]:
nhl_for_join[~(nhl_for_join.index == 'NANNAN') & ~(nhl_for_join.Position == 'D')].to_csv('./nhl_projections_att_cullen.csv', sep=';')

In [377]:
nhl_for_join[~(nhl_for_join.index == 'NANNAN') & (nhl_for_join.Position == 'D')]

,Last_Name,First_Name,Team,Age,Position,GP_13,GP_14,GP_15,GP_16,GP_17,...,Cap Cost_14,Cap Cost_15,Cap Hit_16,Cap Hit_17,Cap Hit_18,END,Star,Score,POS,PTS
Name,,,,,,,,,,,,,,,,,,,,,
AHOSEBASTIAN,Aho,Sebastian,NYI,22.0,D,NaN,NaN,NaN,NaN,82.0,...,NaN,NaN,NaN,925000.0,770000.0,19.0,0.4247,3.013719,LW,65.0
ALTMARK,Alt,Mark,COL,27.0,D,NaN,NaN,1.0,NaN,NaN,...,NaN,10000.0,NaN,NaN,650000.0,NaN,0.0019,1.836919,NaN,NaN
ALZNERKARL,Alzner,Karl,MTL,30.0,D,48.0,82.0,82.0,82.0,82.0,...,2800000.0,2800000.0,2800000.0,2800000.0,4625000.0,22.0,0.5557,3.556680,D,15.0
ANDERSSONRASMUS,Andersson,Rasmus,CGY,22.0,D,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,786667.0,755833.0,20.0,0.0075,2.372056,NaN,NaN
ANTIPINVICTOR,Antipin,Victor,BUF,26.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,925000.0,NaN,0.3034,3.274368,NaN,NaN
AUVITUYOHANN,Auvitu,Yohann,EDM,29.0,D,NaN,NaN,NaN,NaN,25.0,...,NaN,NaN,NaN,792500.0,700000.0,NaN,0.2644,3.202083,NaN,NaN
BARBERIOMARK,Barberio,Mark,COL,28.0,D,2.0,49.0,52.0,30.0,60.0,...,605000.0,874000.0,600000.0,750000.0,750000.0,NaN,0.5664,2.997907,NaN,NaN
BARRIETYSON,Barrie,Tyson,COL,27.0,D,32.0,64.0,80.0,78.0,74.0,...,900000.0,2600000.0,2600000.0,5500000.0,5500000.0,20.0,5.3855,7.090033,D,50.0
BARTKOWSKIMATT,Bartkowski,Matt,CGY,30.0,D,11.0,64.0,47.0,80.0,24.0,...,650000.0,1250000.0,1750000.0,612500.0,612500.0,NaN,0.0769,2.225656,NaN,NaN
BEARETHAN,Bear,Ethan,EDM,21.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,720000.0,NaN,0.2036,2.902058,NaN,NaN
BEAUCHEMINFRANCOIS,Beauchemin,Francois,ANA,38.0,D,48.0,70.0,64.0,82.0,81.0,...,3500000.0,3500000.0,4500000.0,4500000.0,1000000.0,NaN,0.9339,4.121762,NaN,NaN
BEAULIEUNATHAN,Beaulieu,Nathan,BUF,26.0,D,6.0,17.0,64.0,64.0,74.0,...,1275000.0,1152000.0,1000000.0,1000000.0,2400000.0,19.0,0.1678,3.225223,NaN,NaN
BELPEDIOLOUIE,Belpedio,Louie,MIN,22.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0249,NaN,NaN,NaN
BENNINGMATT,Benning,Matt,EDM,24.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,925000.0,NaN,1.6368,4.828647,D,20.0
BENNJORDIE,Benn,Jordie,MTL,31.0,D,26.0,78.0,73.0,64.0,71.0,...,700000.0,700000.0,700000.0,1100000.0,1100000.0,19.0,0.9088,4.051895,NaN,NaN
BIEGAALEX,Biega,Alex,VAN,30.0,D,NaN,NaN,7.0,51.0,36.0,...,NaN,90000.0,600000.0,750000.0,750000.0,NaN,0.3976,2.834889,NaN,NaN
BIEKSAKEVIN,Bieksa,Kevin,ANA,37.0,D,36.0,76.0,60.0,71.0,81.0,...,4600000.0,4600000.0,4600000.0,4000000.0,4000000.0,NaN,0.2127,3.185839,NaN,NaN
BIGRASCHRIS,Bigras,Chris,COL,23.0,D,NaN,NaN,NaN,31.0,NaN,...,NaN,NaN,874000.0,NaN,843333.0,NaN,0.0041,2.052516,NaN,NaN
BITETTOANTHONY,Bitetto,Anthony,NSH,28.0,D,NaN,NaN,7.0,28.0,29.0,...,NaN,46000.0,665000.0,612500.0,612500.0,NaN,0.2271,2.231076,NaN,NaN
BOGOSIANZACH,Bogosian,Zach,BUF,28.0,D,33.0,55.0,62.0,64.0,56.0,...,5142857.0,5143000.0,5143000.0,5142857.0,5142857.0,20.0,0.0344,1.832984,NaN,NaN
BORGMANANDREAS,Borgman,Andreas,TOR,23.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,925000.0,NaN,0.1020,3.268363,NaN,NaN
BOROWIECKIMARK,Borowiecki,Mark,OTT,29.0,D,6.0,13.0,63.0,63.0,70.0,...,575000.0,575000.0,1100000.0,1100000.0,1100000.0,NaN,0.3948,2.822328,NaN,NaN
BORTUZZOROBERT,Bortuzzo,Robert,STL,29.0,D,15.0,54.0,51.0,40.0,38.0,...,600000.0,600000.0,1050000.0,1050000.0,1150000.0,19.0,0.5992,3.331797,NaN,NaN
BOUWMEESTERJAY,Bouwmeester,Jay,STL,35.0,D,47.0,82.0,72.0,72.0,81.0,...,6680000.0,5400000.0,5400000.0,5400000.0,5400000.0,19.0,0.5185,2.796010,NaN,NaN
BOWEYMADISON,Bowey,Madison,WSH,23.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,703333.0,NaN,0.1363,3.167284,NaN,NaN
BOYCHUKJOHNNY,Boychuk,Johnny,NYI,35.0,D,44.0,75.0,72.0,70.0,66.0,...,3366667.0,3367000.0,6000000.0,6000000.0,6000000.0,22.0,1.9892,4.221983,D,22.0
BRAUNJUSTIN,Braun,Justin,SJS,31.0,D,41.0,82.0,70.0,80.0,81.0,...,1250000.0,1250000.0,3800000.0,3800000.0,3800000.0,20.0,1.7682,4.363398,D,25.0
BRICKLEYDANIEL,Brickley,Daniel,LAK,23.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,925000.0,NaN,0.0006,2.020654,NaN,NaN
BRODIETJ,Brodie,TJ,CGY,28.0,D,47.0,81.0,81.0,70.0,82.0,...,2125000.0,2125000.0,4650000.0,4650400.0,4650400.0,20.0,2.2662,5.683965,D,36.0
BRODINJONAS,Brodin,Jonas,MIN,25.0,D,45.0,79.0,71.0,68.0,68.0,...,1444167.0,1444000.0,4167000.0,4166667.0,4166667.0,21.0,2.0588,4.047934,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SPURGEONJARED,Spurgeon,Jared,MIN,29.0,D,39.0,67.0,66.0,77.0,76.0,...,2666667.0,2667000.0,2667000.0,5187500.0,5187500.0,20.0,4.1192,5.643240,D,36.0
STAALMARC,Staal,Marc,NYR,32.0,D,21.0,72.0,80.0,77.0,72.0,...,3975000.0,3975000.0,5700000.0,5700000.0,5700000.0,21.0,0.3354,2.776682,NaN,NaN
STECHERTROY,Stecher,Troy,VAN,24.0,D,NaN,NaN,NaN,NaN,71.0,...,NaN,NaN,NaN,925000.0,925000.0,NaN,0.7945,3.872189,NaN,NaN
STONEMICHAEL,Stone,Michael,CGY,28.0,D,40.0,70.0,81.0,75.0,64.0,...,1150000.0,1150000.0,1150000.0,4000000.0,3500000.0,20.0,0.7003,3.934740,NaN,NaN
STRALMANANTON,Stralman,Anton,TBL,32.0,D,48.0,81.0,82.0,73.0,73.0,...,1700000.0,4500000.0,4500000.0,4500000.0,4500000.0,19.0,1.2130,4.421563,D,24.0
STREITMARK,Streit,Mark,MTL,41.0,D,48.0,82.0,81.0,62.0,68.0,...,5250000.0,5250000.0,5250000.0,5250000.0,NaN,NaN,0.0002,NaN,NaN,NaN
SUBBANPK,Subban,P.K.,NSH,29.0,D,42.0,82.0,82.0,68.0,66.0,...,2875000.0,9000000.0,9000000.0,9000000.0,9000000.0,22.0,5.4057,7.202988,D,54.0
SUSTRANDREJ,Sustr,Andrej,TBL,28.0,D,2.0,43.0,72.0,77.0,80.0,...,1350000.0,874000.0,1450000.0,1450000.0,1950000.0,NaN,0.1929,2.894901,NaN,NaN
SUTERRYAN,Suter,Ryan,MIN,34.0,D,48.0,82.0,77.0,82.0,82.0,...,7538462.0,7538000.0,7538000.0,7538462.0,7538462.0,25.0,4.2080,6.558380,D,48.0
TANEVCHRISTOPHER,Tanev,Christopher,VAN,29.0,D,38.0,64.0,70.0,69.0,NaN,...,1500000.0,2000000.0,4450000.0,NaN,4450000.0,NaN,1.2424,2.922989,NaN,NaN
TENNYSONMATT,Tennyson,Matt,BUF,28.0,D,4.0,NaN,27.0,29.0,45.0,...,NaN,259000.0,625000.0,675000.0,650000.0,19.0,0.0125,2.643502,NaN,NaN
THEODORESHEA,Theodore,Shea,VGK,23.0,D,NaN,NaN,NaN,19.0,34.0,...,NaN,NaN,863000.0,863333.0,863333.0,NaN,2.6505,4.944941,D,37.0
TROTMANZACH,Trotman,Zach,PIT,28.0,D,NaN,2.0,27.0,38.0,NaN,...,900000.0,276000.0,625000.0,NaN,650000.0,NaN,0.0006,2.457493,NaN,NaN
TROUBAJACOB,Trouba,Jacob,WPG,24.0,D,NaN,65.0,65.0,81.0,60.0,...,1827500.0,1827000.0,894000.0,3308824.0,2812500.0,NaN,1.9062,4.873923,D,26.0
VALIEVRINAT,Valiev,Rinat,MTL,23.0,D,NaN,NaN,NaN,10.0,NaN,...,NaN,NaN,778000.0,NaN,778333.0,NaN,0.0000,2.047938,NaN,NaN
VANRIEMSDYKTREVOR,van Riemsdyk,Trevor,CAR,27.0,D,NaN,NaN,18.0,82.0,58.0,...,NaN,925000.0,925000.0,825000.0,825000.0,NaN,0.7538,3.736389,NaN,NaN
VATANENSAMI,Vatanen,Sami,NJD,27.0,D,8.0,48.0,67.0,71.0,71.0,...,1325000.0,1262000.0,1262000.0,4875000.0,4875000.0,20.0,2.6679,5.288993,D,32.0
VLASICMARCEDOUARD,Vlasic,Marc-Edouard,SJS,31.0,D,48.0,81.0,70.0,67.0,75.0,...,4250000.0,4250000.0,4250000.0,4250000.0,4250000.0,NaN,2.6508,5.147609,D,31.0
WARSOFSKYDAVID,Warsofsky,David,COL,28.0,D,NaN,6.0,4.0,22.0,7.0,...,875000.0,132000.0,600000.0,575000.0,675000.0,19.0,0.0193,2.183179,NaN,NaN
WEBERSHEA,Weber,Shea,MTL,33.0,D,48.0,79.0,78.0,78.0,78.0,...,7857143.0,7857000.0,7857000.0,7857143.0,7857143.0,26.0,2.4299,5.063363,D,34.0
WEBERYANNICK,Weber,Yannick,NSH,30.0,D,6.0,49.0,65.0,45.0,73.0,...,650000.0,850000.0,1500000.0,575000.0,650000.0,NaN,0.0540,2.928958,NaN,NaN
WEEGARMACKENZIE,Weegar,MacKenzie,FLA,25.0,D,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,680000.0,675000.0,NaN,0.4815,2.552327,NaN,NaN
WELINSKIANDY,Welinski,Andy,ANA,25.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,925000.0,NaN,0.0335,2.250898,NaN,NaN
WERENSKIZACH,Werenski,Zach,CBJ,21.0,D,NaN,NaN,NaN,NaN,78.0,...,NaN,NaN,NaN,925000.0,925000.0,19.0,4.1396,6.775617,D,44.0
WHITECLOUDZACH,Whitecloud,Zach,VGK,22.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,925000.0,NaN,0.0002,2.039492,NaN,NaN
WIDEMANCHRIS,Wideman,Chris,OTT,29.0,D,NaN,NaN,NaN,64.0,76.0,...,NaN,NaN,600000.0,800000.0,800000.0,NaN,0.1587,3.347014,NaN,NaN
WOLANINCHRISTIAN,Wolanin,Christian,OTT,23.0,D,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,925000.0,NaN,0.0089,2.838529,NaN,NaN
YANDLEKEITH,Yandle,Keith,FLA,32.0,D,48.0,82.0,84.0,82.0,82.0,...,5250000.0,4658000.0,5250000.0,6350000.0,6350000.0,23.0,4.1908,6.934866,D,53.0
ZADOROVNIKITA,Zadorov,Nikita,COL,23.0,D,NaN,7.0,60.0,22.0,56.0,...,NaN,1744000.0,894000.0,894167.0,2150000.0,19.0,2.0372,3.253463,D,20.0
ZAITSEVNIKITA,Zaitsev,Nikita,TOR,27.0,D,NaN,NaN,NaN,NaN,82.0,...,NaN,NaN,NaN,925000.0,4500000.0,24.0,2.0702,3.591049,D,25.0

### Rookies

In [378]:
rookies_1 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/rookies-1.csv', encoding = "utf-8", header=None, names=['rank', 'name'], sep=';')
rookies_2 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/rookies-2.csv', encoding = "utf-8")
rookies_3 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/rookies-3.csv', encoding = "utf-8")

In [379]:
rookies_1['Name'] = rookies_1.apply(lambda player: re.sub(r'\W+', '', f'{player["name"]}').upper(), axis=1)
rookies_1.set_index('Name', inplace=True)
rookies_1 = rookies_1.sort_values('rank')

In [380]:
rookies_2['Name'] = rookies_2.apply(lambda player: re.sub(r'\W+', '', f'{player["Prospect"]}').upper(), axis=1)
rookies_2.set_index('Name', inplace=True)
rookies_2 = rookies_2.sort_values('Sep. 10')

In [381]:
rookies_3['Name'] = rookies_3.apply(lambda player: re.sub(r'\W+', '', f'{player["Prospect"]}').upper(), axis=1)
rookies_3.set_index('Name', inplace=True)
rookies_3 = rookies_3.sort_values('Sep. 10')

In [382]:
rookies_def = rookies_2.join(rookies_1)[['Prospect', 'Team', 'type', 'rank']]

In [383]:
rookies_def = rookies_def.fillna(axis=1, value=50)
rookies_def['rank'] = rookies_def.apply(lambda x: 50-int(x['rank']), axis=1)

In [384]:
rookies_def['value'] = rookies_def.apply(lambda x: x['type'] + x['rank'], axis=1)
rookies_def.drop(['type', 'rank'], axis=1, inplace=True)

In [385]:
rookies_def = rookies_def.sort_values('value', ascending=False)
rookies_def.to_csv('./rookies_def.csv', sep=';')

In [386]:
rookies_att = rookies_3.join(rookies_1)[['Prospect', 'Team', 'type', 'Prospect Rating', 'rank']]

In [387]:
rookies_att = rookies_att.fillna(axis=1, value=50)
rookies_att['rank'] = rookies_att.apply(lambda x: 50-int(x['rank']), axis=1)

In [388]:
rookies_att['value'] = rookies_att.apply(lambda x: x['Prospect Rating'] + x['rank'], axis=1)
rookies_att.drop(['Prospect Rating', 'rank'], axis=1, inplace=True)

In [389]:
rookies_att = rookies_att.sort_values('value', ascending=False)
rookies_att.to_csv('./rookies_att.csv', sep=';')

---
## Goalers

In [390]:
nhl_goal = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL-Goalies-2017-18-Goalies.csv', encoding = "utf-8")
# nhl13 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2012-13.csv', encoding = "utf-8")
# nhl13 = pd.read_csv('~/Dropbox/NHL 2012-13.csv', encoding = "utf-8")
nhl_goal.columns = [str(col) + '_18' for col in nhl_goal.columns]

In [391]:
nhl_goal['Name'] = nhl_goal.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_18"]}{player["First Name_18"]}').upper(), axis=1)

In [392]:
nhl_goal.set_index('Name', inplace=True)

In [393]:
nhl_goal = nhl_goal[['Last Name_18', 'First Name_18', 'Team(s)_18', 'GP_18', 'W_18', 'OTL_18', 'SO_18']]

In [394]:
nhl_goal['PTS_18'] = nhl_goal.apply(lambda player: 2*player.W_18+player.OTL_18+player.SO_18, axis=1)

In [395]:
nhl_goal['PTS/G_18'] = nhl_goal.apply(lambda player: player.PTS_18/player.GP_18, axis=1)

In [396]:
nhl_goal_contracts = pd.read_csv('/mnt/c/Users/cedric/Dropbox/Pool-Goal.csv', header=1, encoding = "utf-8")
# nhl_att_contracts = pd.read_csv(r'C:\Users\Maison\Dropbox\Pool-Att.csv', header=1, encoding = "utf-8")
# nhl_att_contracts = pd.read_csv('~/Dropbox/Pool-Att.csv', header=1, encoding = "utf-8")

In [397]:
nhl_goal_contracts['Name'] = nhl_goal_contracts.Gardien.apply(lambda player: re.sub(r'\W+', '', f'{player}').upper())

In [398]:
nhl_goal_contracts.set_index('Name', inplace=True)

In [399]:
nhl_goal_contracts.head()

,Tier,Gardien,TM,#,AGE,12,13,14,15,16,...,END,Commentaire,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,CONST,EVOL,Unnamed: 59,Unnamed: 60
Name,,,,,,,,,,,,,,,,,,,,,
LUNDQVISTHENRIK,3,Lundqvist Henrik,NYR,1,35,62.0,43.0,63.0,46.0,65.0,...,21.0,NaN,4,6.8,6,1.5,2,1,NaN,21.3
BOBROVSKYSERGEI,1,Bobrovsky Sergei,CBJ,1,29,29.0,38.0,58.0,51.0,37.0,...,19.0,NaN,3,9.4,8,3.0,1,3,NaN,27.4
RASKTUUKKA,2,Rask Tuukka,BOS,1,30,23.0,36.0,58.0,70.0,64.0,...,21.0,NaN,4,8.7,8,3.0,3,3,NaN,29.7
RINNEPEKKA,x,Rinne Pekka,NSH,1,35,73.0,43.0,24.0,64.0,66.0,...,19.0,NaN,3,7.4,6,3.0,2,2,NaN,23.4
PRICECAREY,x,Price Carey,MTL,1,30,65.0,39.0,59.0,66.0,12.0,...,18.0,NaN,3,8.2,8,3.0,1,2,NaN,25.2

In [400]:
nhl_goal = nhl_goal.join(nhl_goal_contracts.END)

In [401]:
nhl_goal = nhl_goal.join(nhl_goal_contracts.SALARY)

In [402]:
nhl_goal['SALARY'] = nhl_goal['SALARY'].replace(',', '', regex=True).astype(float)

In [403]:
# Salaries of 2018-2019 season
nhl_salaries = pd.read_csv('/mnt/c/Users/cedric/Dropbox/Salaries-2018-2019.csv', header=None, encoding = "utf-8")
# nhl_salaries = pd.read_csv(r'C:\Users\Maison\Dropbox\Salaries-2018-2019.csv', header=None, encoding = "utf-8")
# nhl_salaries = pd.read_csv('~/Dropbox/Salaries-2018-2019.csv', header=None, encoding = "utf-8")

In [404]:
nhl_salaries.columns = ['Player', 'Team', 'Salary', 'Cap_Hit']

In [405]:
nhl_salaries['Name'] = nhl_salaries.Player.apply(lambda player: re.sub(r'\W+', '', f'{player}').upper())

In [406]:
nhl_salaries.set_index('Name', inplace=True)

In [407]:
nhl_salaries.head()

                       Player Team      Salary     Cap_Hit
Name
JOHNTAVARES      John Tavares  TOR  15,900,000  11,000,000
CAREYPRICE        Carey Price  MTL  15,000,000  10,500,000
CONNORMCDAVID  Connor McDavid  EDM  15,000,000  12,500,000
JAMIEBENN          Jamie Benn  DAL  13,000,000   9,500,000
JONATHANTOEWS  Jonathan Toews  CHI  12,000,000  10,500,000

In [408]:
# Reverse index of df and join the salaries
nhl_goal = nhl_goal.set_index(nhl_goal.apply(lambda player: re.sub(r'\W+', '', f'{player["First Name_18"]}{player["Last Name_18"]}').upper(), axis=1)).join(nhl_salaries.Cap_Hit)

# Put index to initial order                                                    
nhl_goal.set_index(nhl_goal.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_18"]}{player["First Name_18"]}').upper(), axis=1), inplace=True)

In [409]:
# Convert to float
nhl_goal['Cap_Hit'] = nhl_goal['Cap_Hit'].replace(',', '', regex=True).astype(float)

In [410]:
# If contract ended last year, put ending year to NaN and add manually
nhl_goal.loc[nhl_goal.END == 18, 'END'] = np.nan

In [411]:
nhl_goal['Team(s)_18'] = nhl_goal['Team(s)_18'].apply(lambda tm: str(tm).split(', ')[-1])

In [412]:
nhl_goal.head(10)

,Last Name_18,First Name_18,Team(s)_18,GP_18,W_18,OTL_18,SO_18,PTS_18,PTS/G_18,END,SALARY,Cap_Hit
FERGUSONDYLAN,Ferguson,Dylan,VGK,1,0,0,0,0,0.000000,NaN,NaN,NaN
BUDAJPETER,Budaj,Peter,TBL,8,3,1,0,7,0.875000,19.0,1025000.0,1025000.0
HUTCHINSONMICHAEL,Hutchinson,Michael,WPG,3,2,0,0,4,1.333333,NaN,1150000.0,1300000.0
LACKEDDIE,Lack,Eddie,NJD,8,2,0,0,4,0.500000,NaN,2750000.0,650000.0
HAMMONDANDREW,Hammond,Andrew,COL,1,0,0,0,0,0.000000,NaN,1350000.0,NaN
HOLTBYBRADEN,Holtby,Braden,WSH,54,34,4,0,72,1.333333,20.0,6100000.0,6100000.0
BOBROVSKYSERGEI,Bobrovsky,Sergei,CBJ,65,37,6,5,85,1.307692,19.0,7425000.0,7425000.0
DARLINGSCOTT,Darling,Scott,CAR,43,13,7,0,33,0.767442,21.0,4150000.0,4150000.0
COREAUJARED,Coreau,Jared,DET,7,0,1,0,1,0.142857,NaN,NaN,NaN
MILLERRYAN,Miller,Ryan,ANA,28,12,6,4,34,1.214286,19.0,2000000.0,2000000.0

In [413]:
nhl_goal[~(nhl_goal.index == 'NANNAN')].to_csv('./nhl_goal.csv', sep=';')