# Utilities

1. Check on-ice csv file for advanced stats (iff, gc, and stuff like that)
    1. Checker dans feature engineering et corriger apres
2. Check contract end on capfriendly for new contracts

In [1]:
import pandas as pd
import numpy as np
import re
import math
import glob

---
# Read Datasets

In [2]:
nhl13 = pd.read_csv('/Users/noiseuce/Documents/NHL-Player-Projection/data/NHL 2012-13.csv', encoding="utf-8")
# nhl13 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL 2012-13.csv', encoding = "utf-8")
# nhl13 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2012-13.csv', encoding = "utf-8")
# nhl13 = pd.read_csv('~/Dropbox/NHL 2012-13.csv', encoding = "utf-8")
nhl13.columns = [str(col) + '_13' for col in nhl13.columns]

nhl13['Name'] = nhl13.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_13"]}{player["First Name_13"]}').upper(), axis=1)
nhl13.drop('BTN Code_13', axis=1, inplace=True)                                

nhl13.set_index('Name', inplace=True)

nhl13.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl13.head()

,#_13,DOB_13,Birth City_13,S/P_13,Ctry_13,HT_13,Wt_13,S_13,Rk_13,Age_13,...,GVT/G_13,GVT/60_13,Full_13,LTIR_13,SOIR_13,Ginj_13,Injury_13,Cap Cost_13,Bonuses_13,GVS_13
Name,,,,,,,,,,,,,,,,,,,,,
ABDELKADERJUSTIN,8.0,Feb 25 '87,Muskegon,MI,USA,73,219,L,NaN,26,...,0.07,0.29,99.0,0.0,0.0,NaN,NaN,"$1,800,000",$0,1.1
ADAMLUKE,72.0,Jun 18 '90,St. John's,NF,CAN,74,206,L,NaN,23,...,0.08,0.46,15.0,0.0,0.0,NaN,NaN,"$119,318","$87,500",0.2
ADAMSCRAIG,27.0,Apr 26 '77,Seria,NaN,BRN,72,197,R,NaN,36,...,0.02,0.12,99.0,0.0,0.0,NaN,NaN,"$675,000",$0,0.8
AKESONJASON,42.0,Jun 03 '90,Ottawa,ON,CAN,70,190,R,Y,23,...,0.50,2.42,6.0,0.0,0.0,NaN,NaN,"$43,333","$185,000",0.5
ALBERTSANDREW,41.0,Jun 30 '81,Minneapolis,MN,USA,77,218,L,NaN,32,...,-0.05,-0.18,99.0,0.0,0.0,NaN,NaN,"$1,225,000",$0,-2.4

In [3]:
nhl14 = pd.read_csv('/Users/noiseuce/Documents/NHL-Player-Projection/data/NHL 2013-14.csv', encoding = "utf-8")
# nhl14 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2013-14.csv', encoding = "utf-8")
# nhl14 = pd.read_csv('~/Dropbox/NHL 2013-14.csv', encoding = "utf-8")
nhl14.columns = [str(col) + '_14' for col in nhl14.columns]

nhl14['Name'] = nhl14.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_14"]}{player["First Name_14"]}').upper(), axis=1)
nhl14.drop('BTN Code_14', axis=1, inplace=True)                                

nhl14.set_index('Name', inplace=True)

nhl14.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl14.head()

,#_14,DOB_14,Birth City_14,S/P_14,Ctry_14,HT_14,Wt_14,S_14,Draft_14,Round_14,...,GVT/G_14,GVT/60_14,Full_14,LTIR_14,SOIR_14,Ginj_14,Injury_14,Cap Cost_14,Bonuses_14,GVS_14
Name,,,,,,,,,,,,,,,,,,,,,
ABBOTTSPENCER,56.0,Apr 30 '88,Hamilton,ON,CAN,69,170,R,NaN,NaN,...,-0.40,-4.56,NaN,NaN,NaN,NaN,NaN,650000.0,NaN,-1.5
ABDELKADERJUSTIN,8.0,Feb 25 '87,Muskegon,MI,USA,73,219,L,2005.0,2.0,...,0.06,0.24,NaN,NaN,NaN,12.0,"Head, Groin",1800000.0,NaN,1.0
ACTONWILL,41.0,Jul 16 '87,Edina,MN,USA,73,199,L,NaN,NaN,...,0.05,0.39,NaN,NaN,NaN,NaN,NaN,680000.0,NaN,0.4
ADAMLUKE,72.0,Jun 18 '90,St. John's,NL,CAN,74,206,L,2008.0,2.0,...,-0.05,-0.23,NaN,NaN,NaN,NaN,NaN,735000.0,NaN,-1.9
ADAMSCRAIG,27.0,Apr 26 '77,Seria,NaN,BRN,72,200,R,1996.0,9.0,...,0.01,0.06,NaN,NaN,NaN,NaN,NaN,700000.0,NaN,-0.2

In [4]:
nhl15 = pd.read_csv('/Users/noiseuce/Documents/NHL-Player-Projection/data/NHL 2014-15.csv', encoding = "utf-8")
# nhl15 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2014-15.csv', encoding = "utf-8")
# nhl15 = pd.read_csv('~/Dropbox/NHL 2014-15.csv', encoding = "utf-8")
nhl15.columns = [str(col) + '_15' for col in nhl15.columns]

nhl15['Name'] = nhl15.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_15"]}{player["First Name_15"]}').upper(), axis=1)

nhl15.set_index('Name', inplace=True)

nhl15.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl15.head()

,#_15,DOB_15,Birth City_15,S/P_15,Ctry_15,Nat_15,HT_15,Wt_15,S_15,Draft_15,...,dFAImpact_15,dFenwickImpact_15,dFenwick60_15,Days_15,Ginj_15,Injury_15,Cap Cost_15,CHIP_15,Bonuses_15,GVS_15
Name,,,,,,,,,,,,,,,,,,,,,
ABDELKADERJUSTIN,8.0,Feb 25 '87,Muskegon,MI,USA,US,74,218,L,2005.0,...,-49.4,-9.4,-0.6,186,11.0,"Hand, Shoulder",1.800,0.088,0.0,5.3
ACTONWILL,41.0,Jul 16 '87,Edina,MN,USA,US,75,202,L,NaN,...,-6.3,10.4,22.6,29,NaN,NaN,0.106,0.000,0.0,-0.4
ADAMLUKE,25.0,Jun 18 '90,St. John's,NL,CAN,CA,74,206,L,2008.0,...,-4.1,1.0,3.3,5,NaN,NaN,0.017,0.000,0.0,-0.1
ADAMSCRAIG,27.0,Apr 26 '77,Seria,NaN,BRN,NaN,72,200,R,1996.0,...,-1.2,-19.4,-2.4,186,5.0,Undisclosed,0.700,0.043,0.0,1.0
AGOZZINOANDREW,32.0,Jan 03 '91,Kleinburg,ON,CAN,CA,70,187,L,NaN,...,1.1,0.4,2.3,2,NaN,NaN,0.006,0.000,0.0,0.3

In [5]:
nhl16 = pd.read_csv('/Users/noiseuce/Documents/NHL-Player-Projection/data/NHL 2015-16.csv', encoding = "utf-8")
# nhl16 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2015-16.csv', encoding = "utf-8")
# nhl16 = pd.read_csv('~/Dropbox/NHL 2015-16.csv', encoding = "utf-8")
nhl16.columns = [str(col) + '_16' for col in nhl16.columns]

nhl16['Name'] = nhl16.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_16"]}{player["First Name_16"]}').upper(), axis=1)

nhl16.set_index('Name', inplace=True)

nhl16.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl16.head()

,#_16,DOB_16,Birth City_16,S/P_16,Ctry_16,Nat_16,HT_16,Wt_16,S_16,Draft_16,...,3rd Star_16,Days_16,Ginj_16,Injury_16,Salary_16,Cap Hit_16,Cap Cost_16,CHIP_16,Bonuses_16,GVS_16
Name,,,,,,,,,,,,,,,,,,,,,
ABDELKADERJUSTIN,8.0,1987-02-25,Muskegon,MI,USA,USA,74,218,L,2005.0,...,4,186,0,NaN,2.250,1.800,1.800,0,0.0,1.6
ACCIARINOEL,55.0,1991-12-01,Johnston,RI,USA,USA,70,208,R,NaN,...,0,40,0,NaN,0.693,0.793,0.170,0,0.0,-1.0
AGOSTINOKENNY,51.0,1992-04-30,Morristown,NJ,USA,USA,72,202,L,2010.0,...,0,6,0,NaN,0.830,0.830,0.024,0,0.0,-0.3
AGOZZINOANDREW,28.0,1991-01-03,Kleinburg,ON,CAN,CAN,70,187,L,NaN,...,0,19,0,NaN,0.600,0.600,0.061,0,0.0,0.1
ALZNERKARL,27.0,1988-09-24,Burnaby,BC,CAN,CAN,74,214,L,2007.0,...,1,186,0,NaN,2.800,2.800,2.800,0,0.0,3.8

In [6]:
nhl17 = pd.read_csv('/Users/noiseuce/Documents/NHL-Player-Projection/data/NHL 2016-17.csv', encoding = "utf-8", sep='\t')
# nhl17 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2016-17.csv', encoding = "utf-8", sep='\t')
# nhl17 = pd.read_csv('~/Dropbox/NHL 2016-17.csv', encoding = "utf-8", sep='\t')
nhl17.columns = [str(col) + '_17' for col in nhl17.columns]

nhl17['Name'] = nhl17.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_17"]}{player["First Name_17"]}').upper(), axis=1)

nhl17.set_index('Name', inplace=True)

nhl17.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl17.head()

nhl17pp = pd.read_csv('/Users/noiseuce/Documents/NHL-Player-Projection/data/NHL 2016-17-5on4.csv', encoding = "utf-8")
# nhl17pp = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2016-17-5on4.csv', encoding = "utf-8")
# nhl17pp = pd.read_csv('~/Dropbox/NHL 2016-17-5on4.csv', encoding = "utf-8")
nhl17pp.columns = [str(col) + '_17pp' for col in nhl17pp.columns]

nhl17pp['Name'] = nhl17pp.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_17pp"]}{player["First Name_17pp"]}').upper(), axis=1)

nhl17pp.set_index('Name', inplace=True)

nhl17pp.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl17pp.head()

,Born_17,City_17,Pr/St_17,Cntry_17,Nat_17,Ht_17,Wt_17,DftYr_17,DftRd_17,Ovrl_17,...,1st_17,2nd_17,3rd_17,MGL_17,Injuries_17,CHIP_17,NMC_17,Status_17,Salary_17,Cap Hit_17
Name,,,,,,,,,,,,,,,,,,,,,
ABBOTTSPENCER,1988-04-30,Hamilton,ON,CAN,CAN,69,170,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UFA,"$575 000,00","$575 000,00"
ABDELKADERJUSTIN,1987-02-25,Muskegon,MI,USA,USA,74,218,2005.0,2.0,42.0,...,0.0,0.0,1.0,18.0,"Lower body, Knee","$932 926,83",NTC,UFA,"$5 500 000,00","$4 250 000,00"
ABERGPONTUS,1993-09-23,Stockholm,NaN,SWE,SWE,71,196,2012.0,2.0,37.0,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,RFA,"$842 500,00","$780 833,00"
ACCIARINOEL,1991-12-01,Johnston,RI,USA,USA,70,208,NaN,NaN,NaN,...,0.0,0.0,1.0,15.0,"Lower body, Upper body","$144 969,51",NaN,RFA,"$892 500,00","$792 500,00"
AGOSTINOKENNY,1992-04-30,Morristown,NJ,USA,USA,72,202,2010.0,5.0,140.0,...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,UFA,"$625 000,00","$625 000,00"

,Last Name_17pp,First Name_17pp,Position_17pp,Team_17pp,GP_17pp,G_17pp,A_17pp,A1_17pp,PTS_17pp,PTS/60_17pp,...,OppFF60_17pp,OppFA60_17pp,OppSF60_17pp,OppSA60_17pp,OppGF60_17pp,OppGA60_17pp,TOI.QoC.1_17pp,CF.QoC.1_17pp,xGF.QoC_17pp,Pace_17pp
Name,,,,,,,,,,,,,,,,,,,,,
ABBOTTSPENCER,Abbott,Spencer,LW,CHI,1,0,0,NaN,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
ABDELKADERJUSTIN,Abdelkader,Justin,LW/RW,DET,64,5,2,0.0,7,2.93,...,11.0,71.2,8.9,51.0,0.82,6.25,30.2,49.7,49.9,103.1
ABERGPONTUS,Aberg,Pontus,LW,NSH,15,0,0,0.0,0,0.00,...,10.9,70.1,8.5,50.7,0.82,5.80,31.8,52.1,52.0,28.1
ACCIARINOEL,Acciari,Noel,C,BOS,29,0,0,NaN,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,30.1,49.3,49.6,0.0
AGOSTINOKENNY,Agostino,Kenny,LW,STL,7,0,1,1.0,1,6.60,...,11.1,74.3,8.7,53.2,0.78,6.51,29.5,49.1,49.5,72.0

In [7]:
nhl18 = pd.read_csv('/Users/noiseuce/Documents/NHL-Player-Projection/data/NHL 2017-18.csv', encoding = "utf-8", sep='\t')
# nhl18 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2017-18.csv', encoding = "utf-8", sep='\t')
# nhl18 = pd.read_csv('~/Dropbox/NHL 2017-18.csv', encoding = "utf-8", sep='\t')
nhl18.columns = [str(col) + '_18' for col in nhl18.columns]

nhl18['Name'] = nhl18.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_18"]}{player["First Name_18"]}').upper(), axis=1)

nhl18.set_index('Name', inplace=True)

nhl18.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl18.head()

nhl18pp = pd.read_csv('/Users/noiseuce/Documents/NHL-Player-Projection/data/NHL 2017-18-5on4.csv', encoding = "utf-8")
# nhl18pp = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2017-18-5on4.csv', encoding = "utf-8")
# nhl18pp = pd.read_csv('~/Dropbox/NHL 2017-18-5on4.csv', encoding = "utf-8")
nhl18pp.columns = [str(col) + '_18pp' for col in nhl18pp.columns]

# ATTENTION LAST NAME ET FIRST NAME INVERSE

nhl18pp['Name'] = nhl18pp.apply(lambda player: re.sub(r'\W+', '', f'{player["First Name_18pp"]}{player["Last Name_18pp"]}').upper(), axis=1)

nhl18pp.set_index('Name', inplace=True)

nhl18pp.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl18pp.head()

,Born_18,City_18,Pr/St_18,Cntry_18,Nat_18,Ht_18,Wt_18,DftYr_18,DftRd_18,Ovrl_18,...,A.1_18,PTS.1_18,+/-.1_18,PIM.1_18,Shot_18,TOI.4_18,OPS.1_18,DPS.1_18,PS.1_18,Unnamed: 189_18
Name,,,,,,,,,,,,,,,,,,,,,
HAYESJIMMY,1989-11-21,Dorchester,MA,USA,USA,77,215,2008.0,2.0,60.0,...,55,109,-29,149,530,4120,"6,9","3,2","10,1","8,4"
LEHTERAJORI,1987-12-23,Helsinki,NaN,FIN,FIN,74,212,2008.0,3.0,65.0,...,75,108,19,134,298,4109,"4,2","5,5","9,7","6,6"
STONEMICHAEL,1990-06-07,Winnipeg,MB,CAN,CAN,75,210,2008.0,3.0,69.0,...,83,112,-46,238,652,8141,"5,5","14,8","20,4","7,2"
HARTNELLSCOTT,1982-04-18,Regina,SK,CAN,CAN,74,215,2000.0,1.0,6.0,...,380,707,66,1809,2777,19535,"57,8","23,6","81,4","15,8"
HAINSEYRON,1981-03-24,Bolton,CT,USA,USA,75,205,2000.0,1.0,13.0,...,223,276,-61,410,1292,20909,"10,5",41,"51,5",21

,Last Name_18pp,First Name_18pp,Position_18pp,Team_18pp,GP_18pp,G_18pp,A_18pp,A1_18pp,PTS_18pp,PTS/60_18pp,...,xGF/60.QoT_18pp,xGA/60.QoT_18pp,TOI.QoC_18pp,CF.QoC_18pp,CF/60.QoC_18pp,CA/60.QoC_18pp,xGF.QoC_18pp,xGF/60.QoC_18pp,xGA/60.QoC_18pp,Pace_18pp
Name,,,,,,,,,,,,,,,,,,,,,
HAYESJIMMY,Jimmy,Hayes,RW,NJD,33,1,0,0,1,1.17,...,7.20,1.36,37.70,13.19,15.13,100.55,7.20,1.05,7.19,117.0
LEHTERAJORI,Jori,Lehtera,C,PHI,62,0,0,0,0,0.00,...,5.32,0.78,36.91,12.83,14.50,99.67,5.32,0.97,6.83,100.6
STONEMICHAEL,Michael,Stone,D,CGY,82,0,1,1,1,1.27,...,8.37,1.07,36.23,12.33,14.41,105.14,8.37,1.02,7.60,96.7
HARTNELLSCOTT,Scott,Hartnell,LW,NSH,62,2,3,2,5,3.96,...,6.64,0.72,38.10,12.92,15.02,101.55,6.64,1.08,7.27,100.1
HAINSEYRON,Ron,Hainsey,D,TOR,80,1,0,0,1,5.46,...,7.87,0.88,33.16,14.67,16.58,97.67,7.87,1.10,6.96,125.3

#### Data gotten from *corsica* and appears to be wrong for several players (based on nhl.com and hockeydb.com). Find another source.

In [8]:
nhl19 = pd.read_csv('/Users/noiseuce/Documents/NHL-Player-Projection/data/NHL 2018-19.csv', encoding="utf-8", sep=',')
# nhl19 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL 2017-18.csv', encoding = "utf-8", sep='\t')
# nhl18 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2017-18.csv', encoding = "utf-8", sep='\t')
# nhl18 = pd.read_csv('~/Dropbox/NHL 2017-18.csv', encoding = "utf-8", sep='\t')
nhl19['Last Name'] = nhl19.apply(lambda x: x.Player.split('.')[-1], axis=1)
nhl19['First Name'] = nhl19.apply(lambda x: x.Player.split('.')[0], axis=1)
nhl19.columns = [str(col) + '_19' for col in nhl19.columns]

nhl19['Name'] = nhl19.apply(lambda x: x.Player_19.split('.')[-1]+x.Player_19.split('.')[0], axis=1)

nhl19.set_index('Name', inplace=True)

nhl19.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl19pp = pd.read_csv('/Users/noiseuce/Documents/NHL-Player-Projection/data/NHL 2018-19-5on4.csv', encoding="utf-8", sep=',')
# nhl18pp = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2017-18-5on4.csv', encoding = "utf-8")
# nhl18pp = pd.read_csv('~/Dropbox/NHL 2017-18-5on4.csv', encoding = "utf-8")
nhl19pp.columns = [str(col) + '_19pp' for col in nhl19pp.columns]

nhl19pp['Name'] = nhl19pp.apply(lambda x: x.Player_19pp.split('.')[-1]+x.Player_19pp.split('.')[0], axis=1)

nhl19pp.set_index('Name', inplace=True)

nhl19pp.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl19pp.head()

,Player_19pp,Season_19pp,Team_19pp,Position_19pp,GP_19pp,TOI_19pp,G_19pp,A_19pp,P_19pp,P1_19pp,...,ixGF_19pp,ixGF/60_19pp,iSh%_19pp,PDO_19pp,ZSR_19pp,TOI%_19pp,TOI% QoT_19pp,CF% QoT_19pp,TOI% QoC_19pp,CF% QoC_19pp
Name,,,,,,,,,,,,,,,,,,,,,
EKBLADAARON,AARON.EKBLAD,2018-2019,FLA,D,82,137.62,5,5,10,7,...,3.27,1.43,13.51,100.07,90.53,31.87,32.62,81.73,36.77,14.51
CLENDENINGADAM,ADAM.CLENDENING,2018-2019,CBJ,D,4,1.15,0,0,0,0,...,0.00,0.00,NaN,NaN,100.00,3.93,18.70,56.30,41.96,17.17
CRACKNELLADAM,ADAM.CRACKNELL,2018-2019,ANA,R,2,0.00,0,0,0,0,...,0.00,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN
ERNEADAM,ADAM.ERNE,2018-2019,T.B,L,65,32.20,2,0,2,2,...,0.68,1.27,28.57,121.05,94.44,10.32,35.57,82.68,37.47,15.13
GAUDETTEADAM,ADAM.GAUDETTE,2018-2019,VAN,C,55,75.07,0,1,1,1,...,1.12,0.90,0.00,105.39,95.83,28.41,38.08,85.97,37.29,14.23

---
# Preprocessing

## Join by Name

In [9]:
nhl13.shape

nhl14.shape

nhl13_14 = nhl14.join(nhl13)
nhl13_14 = pd.concat([nhl13_14, nhl13], sort=False)
nhl13_14 = nhl13_14[~nhl13_14.index.duplicated(keep='first')]

nhl13_14.shape

nhl14_15 = nhl15.join(nhl13_14)
nhl14_15 = pd.concat([nhl14_15, nhl13_14], sort=False)
nhl14_15 = nhl14_15[~nhl14_15.index.duplicated(keep='first')]

nhl14_15.shape

nhl15_16 = nhl16.join(nhl14_15)
nhl15_16 = pd.concat([nhl15_16, nhl14_15], sort=False)
nhl15_16 = nhl15_16[~nhl15_16.index.duplicated(keep='first')]

nhl15_16.shape

nhl16_17 = nhl17.join(nhl15_16)
nhl16_17 = pd.concat([nhl16_17, nhl15_16], sort=False)
nhl16_17 = nhl16_17[~nhl16_17.index.duplicated(keep='first')]

nhl16_17.shape

nhl16_17pp = nhl17pp.join(nhl16_17)
nhl16_17pp = pd.concat([nhl16_17pp, nhl16_17], sort=False)
nhl16_17pp = nhl16_17pp[~nhl16_17pp.index.duplicated(keep='first')]

nhl16_17pp.shape

nhl17_18pp = nhl18pp.join(nhl16_17pp)
nhl17_18pp = pd.concat([nhl17_18pp, nhl16_17pp], sort=False)
nhl17_18pp = nhl17_18pp[~nhl17_18pp.index.duplicated(keep='first')]

nhl17_18pp.shape

nhl17_18 = nhl18.join(nhl17_18pp)
nhl17_18 = pd.concat([nhl17_18, nhl17_18pp], sort=False)
nhl17_18 = nhl17_18[~nhl17_18.index.duplicated(keep='first')]

nhl17_18.shape

nhl18_19pp = nhl19pp.join(nhl17_18)
nhl18_19pp = pd.concat([nhl18_19pp, nhl17_18], sort=False)
nhl18_19pp = nhl18_19pp[~nhl18_19pp.index.duplicated(keep='first')]

nhl18_19pp.shape

nhl = nhl19.join(nhl18_19pp)
nhl = pd.concat([nhl, nhl18_19pp], sort=False)
nhl = nhl[~nhl.index.duplicated(keep='first')]
nhl.index.name = 'Name'

nhl.shape

(839, 226)

(886, 102)

(1024, 328)

(1161, 448)

(1314, 577)

(1467, 744)

(1468, 894)

(1596, 1038)

(1596, 1228)

(1762, 1272)

(1762, 1318)

## Filter columns

In [10]:
nhl['Age_19'] = nhl.apply(lambda x: x.Age_18+1, axis=1)
nhl['TOI/GP_19'] = nhl.apply(lambda x: x.TOI_19/x.GP_19, axis=1)
nhl['TOI/GP_19pp'] = nhl.apply(lambda x: x.TOI_19pp/x.GP_19pp, axis=1)
nhl = nhl.rename(index=str, columns={"P_19": "PTS_19", "iSh%_19": "SH%_19", "ZSR_19": "ZS%_19", "GS/60_19": "GS/G_19"})

# add 17 et 18 PPTOI des xls

# PAX: Points above expectations, based on previous average career points per game
# GC: Goals Created, which is half-point for a goal, and a variable amount depending on the team's assists per goal
# SCF: Team scoring chances while this player was on the ice
# WAR: Wins above replacement, a catch-all stat that measures a player's offensive contributions in terms of wins
# ZS%: Zone start percentage
# GS: The player's combined game score, quality of games played, averaged per game

nhl = nhl[['Last Name_19', 'First Name_19', 'Team_19', 'Age_19', 'Position_19', \
           'GP_13', 'GP_14', 'GP_15', 'GP_16', 'GP_17', 'GP_18', 'GP_19', \
           'G_13', 'G_14', 'G_15', 'G_16', 'G_17', 'G_18', 'G_19', \
           'A_13', 'A_14', 'A_15', 'A_16', 'A_17', 'A_18', 'A_19', \
           'PTS_13', 'PTS_14', 'PTS_15', 'PTS_16', 'PTS_17', 'PTS_18', 'PTS_19', \
           'Sh%_13', 'Sh%_14', 'Sh%_15', 'Sh%_16', 'SH%_17', 'SH%_18', 'SH%_19', \
           'Sh_13', 'Sh_14', 'Sh_15', 'Sh_16', 'iSF_17', 'iSF_18', \
           'TOI/G_13', 'TOI/G_14', 'TOI/G_15', 'TOI/G_16', 'TOI/GP_17', 'TOI/GP_18', 'TOI/GP_19', \
           'TOI/GP_17pp', 'TOI/GP_18pp', 'TOI/GP_19pp', \
           'ZS%_18', 'ZS%_19', \
           'GC_18', 'SCF_17', 'SCF_18', 'GS/G_17', 'GS/G_18', 'GS/G_19', 'OWAR_18', 'OPS_17', 'OPS_18', \
           'PDO_17', 'PDO_18', 'PDO_19', \
           'iCF_17', 'iCF_18', 'iCF_19', \
           'iFF_17', 'iFF_18', \
           'Star_18', \
           'Salary_18', \
           'Cap Cost_13', 'Cap Cost_14', 'Cap Cost_15', 'Cap Hit_16', 'Cap Hit_17', 'Cap Hit_18']]

nhl.rename(columns={'TOI/GP_17': 'TOI/G_17', 'TOI/GP_18': 'TOI/G_18', 'SH%_17': 'Sh%_17', 'SH%_18': 'Sh%_18',
                   'Sh_13': 'iSF_13', 'Sh_14': 'iSF_14', 'Sh_15': 'iSF_15', 'Sh_16': 'iSF_16'}, inplace=True)
nhl.head()

# Rename columns
nhl.rename(columns={'Age_19': 'Age', 'Last Name_19': 'Last_Name', 'First Name_19': 'First_Name', 'Team_19': 'Team',
                    'Position_19': 'Position', 
                    'TOI/GP_17pp': 'PPTOI/GP_17', 'TOI/GP_18pp': 'PPTOI/GP_18', 'TOI/GP_19pp': 'PPTOI/GP_19'}, inplace=True)

nhl.columns

,Last Name_19,First Name_19,Team_19,Age_19,Position_19,GP_13,GP_14,GP_15,GP_16,GP_17,...,iFF_17,iFF_18,Star_18,Salary_18,Cap Cost_13,Cap Cost_14,Cap Cost_15,Cap Hit_16,Cap Hit_17,Cap Hit_18
Name,,,,,,,,,,,,,,,,,,,,,
EKBLADAARON,EKBLAD,AARON,FLA,22.0,D,NaN,NaN,81.0,78.0,68.0,...,296.0,283.0,"3,619",$9 000 000,NaN,NaN,3.775,0.925,"$925 000,00",$7 500 000
ERNEADAM,ERNE,ADAM,T.B,23.0,L,NaN,NaN,NaN,NaN,26.0,...,58.0,42.0,"0,5924",$832 500,NaN,NaN,NaN,NaN,"$874 167,00",$874 167
GAUDETTEADAM,GAUDETTE,ADAM,VAN,22.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,14.0,"0,0021",$900 000,NaN,NaN,NaN,NaN,NaN,$916 666
HENRIQUEADAM,HENRIQUE,ADAM,ANA,28.0,C,42.0,77.0,75.0,80.0,82.0,...,190.0,213.0,"7,3564",$5 000 000,"$555,807",4000000.0,4.000,4.000,"$4 000 000,00",$4 000 000
LARSSONADAM,LARSSON,ADAM,EDM,26.0,D,37.0,26.0,64.0,82.0,79.0,...,124.0,130.0,"1,2003",$4 500 000,"$925,000",925000.0,0.900,4.167,"$4 166 667,00",$4 166 667

Index(['Last_Name', 'First_Name', 'Team', 'Age', 'Position', 'GP_13', 'GP_14',
       'GP_15', 'GP_16', 'GP_17', 'GP_18', 'GP_19', 'G_13', 'G_14', 'G_15',
       'G_16', 'G_17', 'G_18', 'G_19', 'A_13', 'A_14', 'A_15', 'A_16', 'A_17',
       'A_18', 'A_19', 'PTS_13', 'PTS_14', 'PTS_15', 'PTS_16', 'PTS_17',
       'PTS_18', 'PTS_19', 'Sh%_13', 'Sh%_14', 'Sh%_15', 'Sh%_16', 'Sh%_17',
       'Sh%_18', 'SH%_19', 'iSF_13', 'iSF_14', 'iSF_15', 'iSF_16', 'iSF_17',
       'iSF_18', 'TOI/G_13', 'TOI/G_14', 'TOI/G_15', 'TOI/G_16', 'TOI/G_17',
       'TOI/G_18', 'TOI/GP_19', 'PPTOI/GP_17', 'PPTOI/GP_18', 'PPTOI/GP_19',
       'ZS%_18', 'ZS%_19', 'GC_18', 'SCF_17', 'SCF_18', 'GS/G_17', 'GS/G_18',
       'GS/G_19', 'OWAR_18', 'OPS_17', 'OPS_18', 'PDO_17', 'PDO_18', 'PDO_19',
       'iCF_17', 'iCF_18', 'iCF_19', 'iFF_17', 'iFF_18', 'Star_18',
       'Salary_18', 'Cap Cost_13', 'Cap Cost_14', 'Cap Cost_15', 'Cap Hit_16',
       'Cap Hit_17', 'Cap Hit_18'],
      dtype='object')

---
## Contracts

In order to get contract end. Exports from google drive pool spreadsheet.

### Forwards

In [11]:
nhl_att_contracts = pd.read_csv('../data/Pool-Att-1819.csv', header=1, encoding = "utf-8")

nhl_att_contracts = nhl_att_contracts.rename(columns={'Unnamed: 95': "Cap Hit_18", 'Unnamed: 96': "END", "Unnamed: 0": "Name"})

nhl_att_contracts.set_index('Name', inplace=True)

nhl_att_contracts.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl_att_contracts.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Position,GP_13,GP_14,GP_15,...,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Cap Hit_18,END,Unnamed: 97,Unnamed: 98,Unnamed: 99
Name,,,,,,,,,,,,,,,,,,,,,
MCDAVIDCONNOR,McDavid Connor,McDavid,Connor,X,EDM,22.0,C,NaN,NaN,NaN,...,NaN,NaN,925000.0,925000.0,925000.0,"12,500,000",26.0,18.14,9.70,NaN
KUCHEROVNIKITA,Kucherov Nikita,Kucherov,Nikita,X,TBL,25.0,RW,NaN,52.0,82.0,...,894167.0,889000.0,712000.0,4766667.0,4766667.0,"4,766,667",19.0,14.50,9.18,NaN
CROSBYSIDNEY,Crosby Sidney,Crosby,Sidney,X,PIT,31.0,C,36.0,80.0,77.0,...,8700000.0,8700000.0,8700000.0,8700000.0,8700000.0,"8,700,000",25.0,12.68,9.43,NaN
MACKINNONNATHAN,MacKinnon Nathan,MacKinnon,Nathan,X,COL,23.0,C,NaN,82.0,64.0,...,3775000.0,3775000.0,925000.0,6300000.0,6300000.0,"6,300,000",23.0,17.20,9.08,NaN
GAUDREAUJOHNNY,Gaudreau Johnny,Gaudreau,Johnny,X,CGY,25.0,LW,NaN,1.0,80.0,...,1850000.0,1850000.0,925000.0,6750000.0,6750000.0,"6,750,000",22.0,8.42,7.27,NaN

### Defensemen

In [12]:
nhl_def_contracts = pd.read_csv('../data/Pool-Def-1819.csv', header=1, encoding = "utf-8")

nhl_def_contracts = nhl_def_contracts.rename(columns={'Unnamed: 95': "Cap Hit_18", 'Unnamed: 96': "END", "Unnamed: 0": "Name"})

nhl_def_contracts.set_index('Name', inplace=True)

nhl_def_contracts.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl_def_contracts.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Position,GP_13,GP_14,GP_15,...,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Cap Hit_18,END,Unnamed: 97,Unnamed: 98,Unnamed: 99
Name,,,,,,,,,,,,,,,,,,,,,
BURNSBRENT,Burns Brent,Burns,Brent,X,SJS,33.0,D,30.0,69.0,82.0,...,5760000.0,5760000.0,5760000.0,5760000.0,8000000.0,"8,000,000",25.0,6.49,8.96,NaN
KARLSSONERIK,Karlsson Erik,Karlsson,Erik,X,OTT,28.0,D,17.0,82.0,82.0,...,6500000.0,6500000.0,6500000.0,6500000.0,6500000.0,"6,500,000",19.0,6.36,7.96,NaN
HEDMANVICTOR,Hedman Victor,Hedman,Victor,X,TBL,28.0,D,44.0,75.0,59.0,...,4000000.0,4000000.0,4000000.0,4000000.0,7875000.0,"7,875,000",25.0,6.64,7.54,NaN
KLINGBERGJOHN,Klingberg John,Klingberg,John,X,DAL,26.0,D,NaN,NaN,65.0,...,NaN,720000.0,4250000.0,4250000.0,4250000.0,"4,250,000",22.0,5.82,8.00,NaN
GOSTISBEHERESHAYNE,Gostisbehere Shayne,Gostisbehere,Shayne,X,PHI,25.0,D,NaN,NaN,2.0,...,NaN,53000.0,925000.0,925000.0,4500000.0,"4,500,000",23.0,4.85,6.25,NaN

### All

In [13]:
nhl_contracts = pd.concat([nhl_att_contracts, nhl_def_contracts], sort=True)

nhl = nhl.join(nhl_contracts['END'])

## Salary Correction

Update with salaries from 2019-2020 season.

In [14]:
# Salaries of 2019-2020 season
nhl_salaries = pd.read_csv('../data/Salaries-2019-2020.csv', header=None, sep=';', encoding = "utf-8")
# nhl_salaries = pd.read_csv(r'C:\Users\Maison\Dropbox\Salaries-2018-2019.csv', header=None, encoding = "utf-8")
# nhl_salaries = pd.read_csv('~/Dropbox/Salaries-2018-2019.csv', header=None, encoding = "utf-8")

nhl_salaries.columns = ['Player', 'Team', 'Salary', 'Cap_Hit']

nhl_salaries['Name'] = nhl_salaries.Player.apply(lambda player: re.sub(r'\W+', '', f'{player}').upper())

nhl_salaries.set_index('Name', inplace=True)

nhl_salaries.rename({'BURMISTROVALEX': 'BURMISTROVALEXANDER',
           'BURROWSALEX': 'BURROWSALEXANDRE',
           'CAMMALLERIMIKE': 'CAMMALLERIMICHAEL',
           'DEANGELOTONY': 'DEANGELOANTHONY',
           'DIDOMENICOCHRIS': 'DIDOMENICOCHRISTOPHER',
           'EDLERALEX': 'EDLERALEXANDER',
           'ENSTROMTOBY': 'ENSTROMTOBIAS',
           'FERLANDMICHEAL': 'FERLANDMICHAEL',
           'HINOSTROZAVINNIE': 'HINOSTROZAVINCENT',
           'KULEMINNIKOLAY': 'KULEMINNIKOLAI',
           'MARCHESSAULTJONATHAN': 'AUDYMARCHESSAULTJONATHAN',
           'MATHESONMIKE': 'MATHESONMICHAEL',
           'MORRISSEYJOSH': 'MORRISSEYJOSHUA',
           'PETROVICALEX': 'PETROVICALEXANDER',
           'RADULOVALEX': 'RADULOVALEXANDER',
           'WENNBERGALEX': 'WENNBERGALEXANDER'}, inplace = True)

nhl_salaries.head()

# Reverse index of df and join the salaries
nhl = nhl.set_index(nhl.apply(lambda player: re.sub(r'\W+', '', f'{player["First_Name"]}{player["Last_Name"]}').upper(), axis=1)).join(nhl_salaries.Cap_Hit)

# Put index to initial order                                                    
nhl.set_index(nhl.apply(lambda player: re.sub(r'\W+', '', f'{player["Last_Name"]}{player["First_Name"]}').upper(), axis=1), inplace=True)                                       

# Convert to float
nhl['Cap_Hit'] = nhl['Cap_Hit'].replace(',', '', regex=True).astype(float)

# If contract ended last year, put ending year to NaN and add manually
nhl.loc[nhl.END == 19, 'END'] = np.nan

nhl.head()

                         Player Team      Salary     Cap_Hit
Name
JOHNTAVARES        John Tavares  TOR  15,900,000  11,000,000
AUSTONMATTHEWS  Auston Matthews  TOR  15,900,000  11,634,000
CAREYPRICE          Carey Price  MTL  15,000,000  10,500,000
ERIKKARLSSON      Erik Karlsson  SJS  14,500,000  11,500,000
CONNORMCDAVID    Connor McDavid  EDM  14,000,000  12,500,000

,Last_Name,First_Name,Team,Age,Position,GP_13,GP_14,GP_15,GP_16,GP_17,...,Star_18,Salary_18,Cap Cost_13,Cap Cost_14,Cap Cost_15,Cap Hit_16,Cap Hit_17,Cap Hit_18,END,Cap_Hit
EKBLADAARON,EKBLAD,AARON,FLA,22.0,D,NaN,NaN,81.0,78.0,68.0,...,"3,619",$9 000 000,NaN,NaN,3.775,0.925,"$925 000,00",$7 500 000,25.0,7500000.0
ERNEADAM,ERNE,ADAM,T.B,23.0,L,NaN,NaN,NaN,NaN,26.0,...,"0,5924",$832 500,NaN,NaN,NaN,NaN,"$874 167,00",$874 167,NaN,NaN
GAUDETTEADAM,GAUDETTE,ADAM,VAN,22.0,C,NaN,NaN,NaN,NaN,NaN,...,"0,0021",$900 000,NaN,NaN,NaN,NaN,NaN,$916 666,20.0,NaN
HENRIQUEADAM,HENRIQUE,ADAM,ANA,28.0,C,42.0,77.0,75.0,80.0,82.0,...,"7,3564",$5 000 000,"$555,807",4000000.0,4.000,4.000,"$4 000 000,00",$4 000 000,NaN,5825000.0
LARSSONADAM,LARSSON,ADAM,EDM,26.0,D,37.0,26.0,64.0,82.0,79.0,...,"1,2003",$4 500 000,"$925,000",925000.0,0.900,4.167,"$4 166 667,00",$4 166 667,21.0,4166666.0

In [15]:
nhl = nhl[['Last_Name', 'First_Name', 'Team', 'Age', 'Position', 'GP_13', 'GP_14',
       'GP_15', 'GP_16', 'GP_17', 'GP_18', 'GP_19', 'G_13', 'G_14', 'G_15',
       'G_16', 'G_17', 'G_18', 'G_19', 'A_13', 'A_14', 'A_15', 'A_16', 'A_17',
       'A_18', 'A_19', 'PTS_13', 'PTS_14', 'PTS_15', 'PTS_16', 'PTS_17',
       'PTS_18', 'PTS_19', 'Sh%_13', 'Sh%_14', 'Sh%_15', 'Sh%_16', 'Sh%_17',
       'Sh%_18', 'SH%_19', 'iSF_13', 'iSF_14', 'iSF_15', 'iSF_16', 'iSF_17',
       'iSF_18', 'TOI/G_13', 'TOI/G_14', 'TOI/G_15', 'TOI/G_16', 'TOI/G_17',
       'TOI/G_18', 'TOI/GP_19', 'PPTOI/GP_17', 'PPTOI/GP_18', 'PPTOI/GP_19',
       'ZS%_18', 'ZS%_19', 'GC_18', 'SCF_17', 'SCF_18', 'GS/G_17', 'GS/G_18',
       'GS/G_19', 'OWAR_18', 'OPS_17', 'OPS_18', 'PDO_17', 'PDO_18', 'PDO_19',
       'iCF_17', 'iCF_18', 'iCF_19', 'iFF_17', 'iFF_18', 'Star_18',
       'Salary_18', 'Cap Cost_13', 'Cap Cost_14', 'Cap Cost_15', 'Cap Hit_16',
       'Cap Hit_17', 'Cap Hit_18', 'Cap_Hit', 'END']]
nhl.head(10)

nhl['Team'] = nhl['Team'].apply(lambda tm: str(tm).split('/')[-1])

nhl = nhl[nhl.index != 'NANNAN']

,Last_Name,First_Name,Team,Age,Position,GP_13,GP_14,GP_15,GP_16,GP_17,...,Star_18,Salary_18,Cap Cost_13,Cap Cost_14,Cap Cost_15,Cap Hit_16,Cap Hit_17,Cap Hit_18,Cap_Hit,END
EKBLADAARON,EKBLAD,AARON,FLA,22.0,D,NaN,NaN,81.0,78.0,68.0,...,"3,619",$9 000 000,NaN,NaN,3.775,0.925,"$925 000,00",$7 500 000,7500000.0,25.0
ERNEADAM,ERNE,ADAM,T.B,23.0,L,NaN,NaN,NaN,NaN,26.0,...,"0,5924",$832 500,NaN,NaN,NaN,NaN,"$874 167,00",$874 167,NaN,NaN
GAUDETTEADAM,GAUDETTE,ADAM,VAN,22.0,C,NaN,NaN,NaN,NaN,NaN,...,"0,0021",$900 000,NaN,NaN,NaN,NaN,NaN,$916 666,NaN,20.0
HENRIQUEADAM,HENRIQUE,ADAM,ANA,28.0,C,42.0,77.0,75.0,80.0,82.0,...,"7,3564",$5 000 000,"$555,807",4000000.0,4.000,4.000,"$4 000 000,00",$4 000 000,5825000.0,NaN
LARSSONADAM,LARSSON,ADAM,EDM,26.0,D,37.0,26.0,64.0,82.0,79.0,...,"1,2003",$4 500 000,"$925,000",925000.0,0.900,4.167,"$4 166 667,00",$4 166 667,4166666.0,21.0
LOWRYADAM,LOWRY,ADAM,WPG,25.0,L,NaN,NaN,80.0,74.0,82.0,...,"2,4006",$1 250 000,NaN,NaN,0.925,0.828,"$1 125 000,00",$1 125 000,2916666.0,21.0
MCQUAIDADAM,MCQUAID,ADAM,NYR/CBJ,32.0,D,32.0,30.0,63.0,64.0,77.0,...,"0,313",$3 000 000,"$1,566,667",1566667.0,1.567,2.750,"$2 750 000,00",$2 750 000,NaN,NaN
PELECHADAM,PELECH,ADAM,NYI,24.0,D,NaN,NaN,NaN,9.0,44.0,...,"1,3632",$875 000,NaN,NaN,NaN,0.854,"$854 333,00",$1 600 000,1600000.0,21.0
KEMPEADRIAN,KEMPE,ADRIAN,L.A,22.0,L,NaN,NaN,NaN,NaN,25.0,...,"3,4423",$925 000,NaN,NaN,NaN,NaN,"$894 167,00",$894 167,NaN,NaN
GREERA,GREER,A,COL,NaN,L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---
## Feature Engineering

### PTS/G

In [16]:
nhl['PTS/G_13'] = nhl.apply(lambda player: player.PTS_13/player.GP_13, axis=1)
nhl['PTS/G_14'] = nhl.apply(lambda player: player.PTS_14/player.GP_14, axis=1)
nhl['PTS/G_15'] = nhl.apply(lambda player: player.PTS_15/player.GP_15, axis=1)
nhl['PTS/G_16'] = nhl.apply(lambda player: player.PTS_16/player.GP_16, axis=1)
nhl['PTS/G_17'] = nhl.apply(lambda player: player.PTS_17/player.GP_17, axis=1)
nhl['PTS/G_18'] = nhl.apply(lambda player: player.PTS_18/player.GP_18, axis=1)
nhl['PTS/G_19'] = nhl.apply(lambda player: player.PTS_19/player.GP_19, axis=1)

### $/PTS

In [17]:
def moneyPerPts(player, pts_year, gp_year, cap_year):
    if player[pts_year] > 0:
        return ((player[gp_year]/82) * player[cap_year]) / player[pts_year]
    else:
        return ((player[gp_year]/82) * player[cap_year])

In [18]:
nhl['Cap Cost_13'] = nhl['Cap Cost_13'].replace('[\$,]', '', regex=True).astype(float)
nhl['$/PTS_13'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_13', 'GP_13', 'Cap Cost_13'), axis=1)

nhl['Cap Cost_14'] = nhl['Cap Cost_14'].replace('[\$,]', '', regex=True).astype(float)
nhl['$/PTS_14'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_14', 'GP_14', 'Cap Cost_14'), axis=1)

nhl['Cap Cost_15'] = nhl['Cap Cost_15'].replace('[\$,]', '', regex=True).astype(float)
nhl['Cap Cost_15'] = nhl['Cap Cost_15'].apply(lambda player: player*1000000)
nhl['$/PTS_15'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_15', 'GP_15', 'Cap Cost_15'), axis=1)

nhl['Cap Hit_16'] = nhl['Cap Hit_16'].replace('[\$,]', '', regex=True).astype(float)
nhl['Cap Hit_16'] = nhl['Cap Hit_16'].apply(lambda player: player*1000000)
nhl['$/PTS_16'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_16', 'GP_16', 'Cap Hit_16'), axis=1)

nhl['Cap Hit_17'] = nhl['Cap Hit_17'].replace('[\$\s,]', '', regex=True).astype(float)
nhl['Cap Hit_17'] = nhl['Cap Hit_17'].apply(lambda player: player/100)
nhl['$/PTS_17'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_17', 'GP_17', 'Cap Hit_17'), axis=1)

nhl['Cap Hit_18'] = nhl['Cap Hit_18'].replace('[\$\s,]', '', regex=True).astype(float)
nhl['$/PTS_18'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_18', 'GP_18', 'Cap Hit_18'), axis=1)

nhl['Cap Hit_19'] = nhl['Cap_Hit'].replace('[\$\s,]', '', regex=True).astype(float)
nhl['$/PTS_19'] = nhl.apply(lambda player: moneyPerPts(player, 'PTS_19', 'GP_19', 'Cap Hit_19'), axis=1)

### Age Correction

In [19]:
nhl['Age'] = nhl.Age.apply(lambda age: age+1)

### Type Correction

In [20]:
def p2f(x):
    if x == '#DIV/0!':
        return np.nan
    else:
        return float(x.strip('%').replace(',','.'))

In [21]:
nhl['ZS%_18'] = nhl[~nhl['ZS%_18'].isna()]['ZS%_18'].apply(lambda feat: p2f(feat)/100)
# nhl['ZS%_19'] = nhl[~nhl['ZS%_19'].isna()]['ZS%_19'].apply(lambda feat: p2f(feat)/100) # Already a float

nhl['GC_18'] = nhl[~nhl['GC_18'].isna()]['GC_18'].apply(lambda feat: p2f(feat))

# nhl['GS/G_19'] = nhl[~nhl['GS/G_19'].isna()]['GS/G_19'].apply(lambda feat: p2f(feat)) # Already a float
nhl['GS/G_18'] = nhl[~nhl['GS/G_18'].isna()]['GS/G_18'].apply(lambda feat: p2f(feat))
nhl['GS/G_17'] = nhl[~nhl['GS/G_17'].isna()]['GS/G_17'].apply(lambda feat: p2f(feat))

nhl['OWAR_18'] = nhl[~nhl['OWAR_18'].isna()]['OWAR_18'].apply(lambda feat: p2f(feat))

nhl['OPS_18'] = nhl[~nhl['OPS_18'].isna()]['OPS_18'].apply(lambda feat: p2f(feat))
nhl['OPS_17'] = nhl[~nhl['OPS_17'].isna()]['OPS_17'].apply(lambda feat: p2f(feat))

nhl['PDO_19'] = nhl[~nhl['PDO_19'].isna()]['PDO_19'].apply(lambda feat: 1-(100-feat))
nhl['PDO_18'] = nhl[~nhl['PDO_18'].isna()]['PDO_18'].apply(lambda feat: 1-p2f(feat))
nhl['PDO_17'] = nhl[~nhl['PDO_17'].isna()]['PDO_17'].apply(lambda feat: 1-p2f(feat))

### Fix Units

In [22]:
nhl['Sh%_13'] = nhl[~nhl['Sh%_13'].isna()]['Sh%_13'].apply(lambda feat: p2f(feat)/100)
nhl['Sh%_14'] = nhl[~nhl['Sh%_14'].isna()]['Sh%_14'].apply(lambda feat: p2f(feat)/100)
nhl['Sh%_15'] = nhl[~nhl['Sh%_15'].isna()]['Sh%_15'].apply(lambda feat: p2f(feat)/100)
nhl['Sh%_16'] = nhl[~nhl['Sh%_16'].isna()]['Sh%_16'].apply(lambda feat: p2f(feat)/100)

# nhl['Sh%_17'] = nhl['Sh%_17'].replace(',', '.', regex=True)
nhl['Sh%_17'] = nhl[~nhl['Sh%_17'].isna()]['Sh%_17'].apply(lambda feat: p2f(feat)/100)
nhl['Sh%_18'] = nhl['Sh%_18'].replace(',', '.', regex=True)
nhl['Sh%_18'] = nhl[~nhl['Sh%_18'].isna()]['Sh%_18'].apply(lambda feat: p2f(feat)/100)
nhl['SH%_19'] = nhl['SH%_19']/100

nhl['TOI/G_17'] = nhl['TOI/G_17'].replace(',', '.', regex=True).astype(float)
nhl['TOI/G_18'] = nhl['TOI/G_18'].replace(',', '.', regex=True).astype(float)

### Keep last team only

In [23]:
nhl['Team'] = nhl.Team.apply(lambda tm: str(tm).split(',')[-1])

### Variance

#### Of GP

In [24]:
def getGPVariance(player):
    GP = []
    # Lock out year
    # if not math.isnan(player.GP_13):
    #   GP.append(player.GP_13)
    if not math.isnan(player.GP_14):
        GP.append(player.GP_14)
    if not math.isnan(player.GP_15):
        GP.append(player.GP_15)
    if not math.isnan(player.GP_16):
        GP.append(player.GP_16)
    if not math.isnan(player.GP_17):
        GP.append(player.GP_17)
    if not math.isnan(player.GP_18):
        GP.append(player.GP_18)
    if not math.isnan(player.GP_19):
        GP.append(player.GP_19)
        
    return np.var(GP)
    
nhl['GP_var'] = nhl.apply(lambda player: getGPVariance(player), axis=1)

#### Of PTS

In [25]:
def getPTSVariance(player):
    PTS = []
    # Lock out year
    # if not math.isnan(player.PTS_13):
    #     PTS.append(player.PTS_13)
    if not math.isnan(player.PTS_14):
        PTS.append(player.PTS_14)
    if not math.isnan(player.PTS_15):
        PTS.append(player.PTS_15)
    if not math.isnan(player.PTS_16):
        PTS.append(player.PTS_16)
    if not math.isnan(player.PTS_17):
        PTS.append(player.PTS_17)
    if not math.isnan(player.PTS_18):
        PTS.append(player.PTS_18)
    if not math.isnan(player.PTS_19):
        PTS.append(player.PTS_19)
        
    return np.var(PTS)
    
nhl['PTS_var'] = nhl.apply(lambda player: getPTSVariance(player), axis=1)

#### Of PTS/G

In [26]:
def getPTS_GVariance(player):
    PTS_G = []
    if not math.isnan(player['PTS/G_13']):
        PTS_G.append(player['PTS/G_13'])
    if not math.isnan(player['PTS/G_14']):
        PTS_G.append(player['PTS/G_14'])
    if not math.isnan(player['PTS/G_15']):
        PTS_G.append(player['PTS/G_15'])
    if not math.isnan(player['PTS/G_16']):
        PTS_G.append(player['PTS/G_16'])
    if not math.isnan(player['PTS/G_17']):
        PTS_G.append(player['PTS/G_17'])
    if not math.isnan(player['PTS/G_18']):
        PTS_G.append(player['PTS/G_18'])
    if not math.isnan(player['PTS/G_19']):
        PTS_G.append(player['PTS/G_19'])
        
    return np.var(PTS_G)
    
nhl['PTS/G_var'] = nhl.apply(lambda player: getPTS_GVariance(player), axis=1)

### Mean

#### Of GP

In [27]:
def getGPMean(player):
    GP = []
    # if not math.isnan(player.GP_13):
    #     GP.append(player.GP_13)
    if not math.isnan(player.GP_14):
        GP.append(player.GP_14)
    if not math.isnan(player.GP_15):
        GP.append(player.GP_15)
    if not math.isnan(player.GP_16):
        GP.append(player.GP_16)
    if not math.isnan(player.GP_17):
        GP.append(player.GP_17)
    if not math.isnan(player.GP_18):
        GP.append(player.GP_18)
    if not math.isnan(player.GP_19):
        GP.append(player.GP_19)
        
    return np.mean(GP)
    
nhl['GP_mean'] = nhl.apply(lambda player: getGPMean(player), axis=1)

#### Of PTS

In [28]:
def getPTSMean(player):
    PTS = []
    # if not math.isnan(player.PTS_13):
    #     PTS.append(player.PTS_13)
    if not math.isnan(player.PTS_14):
        PTS.append(player.PTS_14)
    if not math.isnan(player.PTS_15):
        PTS.append(player.PTS_15)
    if not math.isnan(player.PTS_16):
        PTS.append(player.PTS_16)
    if not math.isnan(player.PTS_17):
        PTS.append(player.PTS_17)
    if not math.isnan(player.PTS_18):
        PTS.append(player.PTS_18)
    if not math.isnan(player.PTS_19):
        PTS.append(player.PTS_19)
        
    return np.mean(PTS)
    
nhl['PTS_mean'] = nhl.apply(lambda player: getPTSMean(player), axis=1)

#### Of PTS/G

In [29]:
def getPTS_GMean(player):
    PTS_G = []
    if not math.isnan(player['PTS/G_13']):
        PTS_G.append(player['PTS/G_13'])
    if not math.isnan(player['PTS/G_14']):
        PTS_G.append(player['PTS/G_14'])
    if not math.isnan(player['PTS/G_15']):
        PTS_G.append(player['PTS/G_15'])
    if not math.isnan(player['PTS/G_16']):
        PTS_G.append(player['PTS/G_16'])
    if not math.isnan(player['PTS/G_17']):
        PTS_G.append(player['PTS/G_17'])
    if not math.isnan(player['PTS/G_18']):
        PTS_G.append(player['PTS/G_18'])
    if not math.isnan(player['PTS/G_19']):
        PTS_G.append(player['PTS/G_19'])
        
    return np.mean(PTS_G)
    
nhl['PTS/G_mean'] = nhl.apply(lambda player: getPTS_GMean(player), axis=1)

### Find Players with Different Names through time

In [30]:
# def find_names(plyr):
#     print(f'{plyr.Last_Name} {plyr.First_Name}')
#     print('...')
#     lastname = re.sub(r'\W+', '', f'{plyr.Last_Name}').upper()
#     for name in nhl.index.values:
#         index = name.find(lastname)
#         if index > -1:
#             print(f' => {name}')
#     print('...')
    
# nhl.apply(lambda plyr: find_names(plyr), axis=1)

---
## Player score

In [31]:
def normalizeFeature(feature):
    #Normalized Data
    return (feature-min(feature))/(max(feature)-min(feature))

def getPlayerScore(player):
    name = player.name
    return -normalizeFeature(nhl.GP_var)[name] + normalizeFeature(nhl.GP_mean)[name] - normalizeFeature(nhl.PTS_var)[name] + normalizeFeature(nhl.PTS_mean)[name] - \
            normalizeFeature(nhl['PTS/G_var'])[name] + normalizeFeature(nhl['PTS/G_mean'])[name] - normalizeFeature(nhl['$/PTS_19'])[name] + \
            normalizeFeature(nhl['PPTOI/GP_19'])[name] + normalizeFeature(nhl['ZS%_19'])[name] + \
            normalizeFeature(nhl['GS/G_19'])[name] + \
            normalizeFeature(nhl['PDO_19'])[name] + normalizeFeature(nhl['iCF_19'])[name]

In [32]:
nhl['Score'] = nhl.apply(lambda player: getPlayerScore(player), axis=1)

nhl = nhl[['Last_Name', 'First_Name', 'Team', 'Age', 'Position', 
           'GP_13', 'GP_14','GP_15', 'GP_16', 'GP_17', 'GP_18', 'GP_19','GP_mean', 'GP_var',
           'G_13', 'G_14', 'G_15', 'G_16', 'G_17', 'G_18', 'G_19', 
           'A_13', 'A_14', 'A_15', 'A_16', 'A_17', 'A_18', 'A_19', 
           'PTS_13', 'PTS_14', 'PTS_15', 'PTS_16', 'PTS_17', 'PTS_18', 'PTS_19','PTS_mean', 'PTS_var',
           'PTS/G_13', 'PTS/G_14', 'PTS/G_15', 'PTS/G_16', 'PTS/G_17', 'PTS/G_18', 'PTS/G_19', 'PTS/G_mean', 'PTS/G_var',
           '$/PTS_13', '$/PTS_14', '$/PTS_15', '$/PTS_16', '$/PTS_17', '$/PTS_18', '$/PTS_19',
           'Sh%_13', 'Sh%_14', 'Sh%_15', 'Sh%_16', 'Sh%_17', 'Sh%_18', 'SH%_19', 
           'iSF_13', 'iSF_14', 'iSF_15', 'iSF_16', 'iSF_17', 'iSF_18', 
           'TOI/G_13', 'TOI/G_14', 'TOI/G_15', 'TOI/G_16', 'TOI/G_17', 'TOI/G_18', 'TOI/GP_19', 
           'PPTOI/GP_17', 'PPTOI/GP_18', 'PPTOI/GP_19', 
           'ZS%_18', 'ZS%_19', 
           'GC_18', 
           'SCF_17', 'SCF_18', 
           'GS/G_17', 'GS/G_18', 'GS/G_19', 
           'OWAR_18', 
           'OPS_17', 'OPS_18', 
           'PDO_17', 'PDO_18', 'PDO_19',
           'iCF_17', 'iCF_18', 'iCF_19', 
           'iFF_17', 'iFF_18', 
           'Cap Cost_13', 'Cap Cost_14', 'Cap Cost_15', 'Cap Hit_16', 'Cap Hit_17', 'Cap Hit_18', 'Cap_Hit', 
           'END',
           'Score']]

# Fix cap when contract but no salary
nhl['Cap_Hit'] = nhl.apply(lambda x: x['Cap Hit_18'] if (math.isnan(x['Cap_Hit'])) & (x['END'] > 19) else x['Cap_Hit'], axis=1)
nhl.sort_values('Score', ascending=False).head(10)

# nhl[~(nhl.index == 'NANNAN') & (nhl.Position == 'D')].to_csv('./nhl_def_1920.csv', sep=';')
# nhl[~(nhl.index == 'NANNAN') & (nhl.Position != 'D')].to_csv('./nhl_att_1920.csv', sep=';')

,Last_Name,First_Name,Team,Age,Position,GP_13,GP_14,GP_15,GP_16,GP_17,...,iFF_18,Cap Cost_13,Cap Cost_14,Cap Cost_15,Cap Hit_16,Cap Hit_17,Cap Hit_18,Cap_Hit,END,Score
OVECHKINALEX,OVECHKIN,ALEX,WSH,34.0,L,48.0,78.0,81.0,79.0,82.0,...,526.0,9538462.0,9538462.0,9538000.0,9538000.0,9538462.0,9538462.0,9538462.0,21.0,6.600856
KANEPATRICK,KANE,PATRICK,CHI,31.0,R,47.0,69.0,61.0,82.0,82.0,...,369.0,6300000.0,6300000.0,6300000.0,10500000.0,10500000.0,10500000.0,10500000.0,23.0,6.236599
CROSBYSIDNEY,CROSBY,SIDNEY,PIT,32.0,C,36.0,80.0,77.0,80.0,75.0,...,341.0,8700000.0,8700000.0,8700000.0,8700000.0,8700000.0,8700000.0,8700000.0,25.0,6.210267
PANARINARTEMI,PANARIN,ARTEMI,CBJ,28.0,C,NaN,NaN,NaN,80.0,82.0,...,338.0,NaN,NaN,NaN,812000.0,812500.0,6000000.0,11642857.0,NaN,5.921903
BURNSBRENT,BURNS,BRENT,S.J,34.0,D,30.0,69.0,82.0,82.0,82.0,...,481.0,5760000.0,5760000.0,5760000.0,5760000.0,5760000.0,8000000.0,8000000.0,25.0,5.863567
SEGUINTYLER,SEGUIN,TYLER,DAL,28.0,C,48.0,80.0,71.0,72.0,82.0,...,444.0,900000.0,5750000.0,5750000.0,5750000.0,5750000.0,5750000.0,9850000.0,NaN,5.808374
PETTERSSONELIAS,PETTERSSON,ELIAS,VAN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,925000.0,NaN,5.755849
TAVARESJOHN,TAVARES,JOHN,TOR,29.0,C,48.0,59.0,82.0,78.0,77.0,...,343.0,5500000.0,5500000.0,5500000.0,5500000.0,5500000.0,5500000.0,11000000.0,25.0,5.723876
MACKINNONNATHAN,MACKINNON,NATHAN,COL,24.0,C,NaN,82.0,64.0,72.0,82.0,...,393.0,NaN,3775000.0,3775000.0,925000.0,6300000.0,6300000.0,6300000.0,23.0,5.723574
KESSELPHIL,KESSEL,PHIL,PIT,32.0,C,48.0,82.0,82.0,82.0,82.0,...,327.0,5400000.0,5400000.0,8000000.0,8000000.0,8000000.0,8000000.0,6800000.0,22.0,5.692121

---
## Model Predictions

### LSTM

In [33]:
lstm_preds = []
for player in glob.glob('../LSTM-Neural-Network-for-Time-Series-Prediction/predictions/*.pkl'):
    tmp = pd.read_pickle(player)
    tmp = pd.DataFrame.from_dict(tmp, orient='index')
    lstm_preds.append(tmp)
lstm_preds = pd.concat(lstm_preds)
lstm_preds['Player_Id'] = lstm_preds.apply(lambda x: x.name.split('.cs')[0].split('-')[-1], axis=1)
lstm_preds['LSTM_full'] = lstm_preds.apply(lambda x: np.array(x['full-sequence']).sum(), axis=1)
lstm_preds['LSTM_point'] = lstm_preds.apply(lambda x: np.array(x['point-by-point']).sum(), axis=1)
lstm_preds.index.name = 'name'
lstm_preds.head()

,multiple-sequences,full-sequence,point-by-point,train,test,Player_Id,LSTM_full,LSTM_point
name,,,,,,,,
MARTIN-BRODEUR-8455710.csv,"[[0.10443657, 0.10036451, 0.09233941, 0.082081...","[0.10443657, 0.10036451, 0.09233941, 0.0820819...","[0.10443657, 0.10443657, 0.10443657, 0.1044365...","[2013-10-04 00:00:00, 2014-12-29 00:00:00]","[2015-01-02 00:00:00, 2015-01-02 00:00:00]",8455710,6.465791,8.563799
MATT-BELESKEY-8473492.csv,"[[0.29253426, 0.29245296, 0.29218978, 0.291729...","[0.29253426, 0.29245296, 0.29218978, 0.2917294...","[0.29253426, 0.29253426, 0.29253426, 0.2925342...","[2013-10-02 00:00:00, 2018-12-10 00:00:00]","[2018-12-14 00:00:00, 2018-12-14 00:00:00]",8473492,23.875305,23.987810
JANNIK-HANSEN-8471498.csv,"[[0.37088394, 0.3701646, 0.36744553, 0.3628682...","[0.37088394, 0.3701646, 0.36744553, 0.36286822...","[0.37088388, 0.37088388, 0.37088388, 0.3708838...","[2013-10-03 00:00:00, 2018-03-29 00:00:00]","[2018-04-05 00:00:00, 2018-04-05 00:00:00]",8471498,29.364569,30.412481
NIC-PETAN-8477464.csv,"[[0.10454964, 0.10764119, 0.115878664, 0.13068...","[0.10454964, 0.10764119, 0.115878664, 0.130686...","[0.10454964, 0.10454964, 0.10454964, 0.1045496...","[2015-10-08 00:00:00, 2019-03-19 00:00:00]","[2019-03-20 00:00:00, 2019-03-20 00:00:00]",8477464,15.220551,8.573070
TORREY-MITCHELL-8471338.csv,"[[0.11750969, 0.1202602, 0.12651347, 0.1360776...","[0.11750969, 0.1202602, 0.12651347, 0.13607763...","[0.117509685, 0.117509685, 0.117509685, 0.1175...","[2013-10-03 00:00:00, 2018-03-30 00:00:00]","[2018-04-02 00:00:00, 2018-04-02 00:00:00]",8471338,12.709690,9.635795

### HMM

In [34]:
hmm_preds = pd.read_pickle('predictions_hmm_3years_for_1920.pkl')
hmm_preds.index.name = 'name'
hmm_preds.head()

,nobs,minmax,mean,variance,skewness,kurtosis
name,,,,,,
RYAN-KESLER-8470616.csv,500,"(19.0486693136375, 57.939195964332185)",35.7392,34.5478,0.135661,0.119872
ETHAN-BEAR-8478451.csv,0,0,0,0,0,0
LOGAN-SHAW-8476400.csv,500,"(3.9503219831557255, 32.00679263430701)",15.5919,19.4693,0.243871,0.142775
NELSON-NOGIER-8478031.csv,0,0,0,0,0,0
MIKE-SMITH-8469608.csv,500,"(-0.1488302137364587, 9.169448730565826)",2.69421,2.3494,0.469817,0.222445

### Merge predictions

In [35]:
predictions = lstm_preds.merge(hmm_preds, on='name')
predictions.head()

,multiple-sequences,full-sequence,point-by-point,train,test,Player_Id,LSTM_full,LSTM_point,nobs,minmax,mean,variance,skewness,kurtosis
name,,,,,,,,,,,,,,
MARTIN-BRODEUR-8455710.csv,"[[0.10443657, 0.10036451, 0.09233941, 0.082081...","[0.10443657, 0.10036451, 0.09233941, 0.0820819...","[0.10443657, 0.10443657, 0.10443657, 0.1044365...","[2013-10-04 00:00:00, 2014-12-29 00:00:00]","[2015-01-02 00:00:00, 2015-01-02 00:00:00]",8455710,6.465791,8.563799,0,0,0,0,0,0
MATT-BELESKEY-8473492.csv,"[[0.29253426, 0.29245296, 0.29218978, 0.291729...","[0.29253426, 0.29245296, 0.29218978, 0.2917294...","[0.29253426, 0.29253426, 0.29253426, 0.2925342...","[2013-10-02 00:00:00, 2018-12-10 00:00:00]","[2018-12-14 00:00:00, 2018-12-14 00:00:00]",8473492,23.875305,23.987810,500,"(2.964526686043076, 22.109802402360927)",11.1109,9.37974,0.299361,0.0755341
JANNIK-HANSEN-8471498.csv,"[[0.37088394, 0.3701646, 0.36744553, 0.3628682...","[0.37088394, 0.3701646, 0.36744553, 0.36286822...","[0.37088388, 0.37088388, 0.37088388, 0.3708838...","[2013-10-03 00:00:00, 2018-03-29 00:00:00]","[2018-04-05 00:00:00, 2018-04-05 00:00:00]",8471498,29.364569,30.412481,500,"(16.8455536762676, 51.05206414663027)",31.2676,28.8162,0.175287,0.20759
NIC-PETAN-8477464.csv,"[[0.10454964, 0.10764119, 0.115878664, 0.13068...","[0.10454964, 0.10764119, 0.115878664, 0.130686...","[0.10454964, 0.10454964, 0.10454964, 0.1045496...","[2015-10-08 00:00:00, 2019-03-19 00:00:00]","[2019-03-20 00:00:00, 2019-03-20 00:00:00]",8477464,15.220551,8.573070,500,"(6.917666694027673, 31.063019027147497)",16.9744,19.4736,0.341211,-0.27229
TORREY-MITCHELL-8471338.csv,"[[0.11750969, 0.1202602, 0.12651347, 0.1360776...","[0.11750969, 0.1202602, 0.12651347, 0.13607763...","[0.117509685, 0.117509685, 0.117509685, 0.1175...","[2013-10-03 00:00:00, 2018-03-30 00:00:00]","[2018-04-02 00:00:00, 2018-04-02 00:00:00]",8471338,12.709690,9.635795,500,"(6.005520473715006, 30.0500425803704)",17.1779,16.6951,0.429314,0.030703

### Merge to stats

In [36]:
nhl['merge_on'] = nhl.apply(lambda player: re.sub(r'\W+', '', f'{player["First_Name"]}{player["Last_Name"]}').upper(), axis=1)
predictions['merge_on'] = predictions.apply(lambda player: ''.join(player.name.split('-')[:-1]), axis=1)
predictions.replace({'ALEXBURMISTROV': 'ALEXANDERBURMISTROV',
                    'ALEXBURROWS': 'ALEXANDREBURROWS',
                    'MIKECAMMALLERI': 'MICHAELCAMMALLERI',
                    'ANTHONYDEANGELO': 'TONYDEANGELO',
                    'CHRISDIDOMENICO': 'CHRISTOPHERDIDOMENICO',
                    'ALEXANDEREDLER': 'ALEXEDLER',
                    'TOBYENSTROM': 'TOBIASENSTROM',
                    'MICHAELFERLAND': 'MICHEALFERLAND',
                    'VINCENTHINNOSTROZA': 'VINNIEHINNOSTROZA',
                    'NIKOLAYKULEMIN': 'NIKOLAIKULEMIN',
                    'JONATHANAUDYMARCHESSAULT': 'JONATHANMARCHESSAULT',
                    'MICHAELMATHESON': 'MIKEMATHESON',
                    'JOSHUAMORRISSEY': 'JOSHMORRISSEY',
                    'ALEXANDERPETROVIC': 'ALEXPETROVIC',
                    'ALEXANDERRADULOV': 'ALEXRADULOV',
                    'ALEXANDERWENNBERG': 'ALEXWENNBERG',
                    'ALEXANDERSTEEN': 'ALEXSTEEN',
                    'ALEXANDERKERFOOT': 'ALEXKERFOOT',
                    'CHRISTOPHERTANEV': 'CHRISTANEV',
                    'JTMILLER': 'JMILLER',
                    'MITCHELLMARNER': 'MITCHMARNER',
                    'PKSUBBAN': 'PSUBBAN',
                    "RYANO'REILLY": 'RYANOREILLY',
                    'TJOSHIE': 'TOSHIE'}, inplace=True)
nhl = nhl.join(predictions.set_index('merge_on'), on='merge_on', lsuffix='_nhl', rsuffix='_preds')
nhl = nhl.drop(['merge_on', 'multiple-sequences', 'full-sequence', 'point-by-point', 'train', 'test', 'nobs'], axis=1)
nhl.sort_values('Score', ascending=False).head(10)

/Users/noiseuce/miniconda3/envs/pool/lib/python3.6/site-packages/pandas/core/internals.py:5152: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = op(a, b)
/Users/noiseuce/miniconda3/envs/pool/lib/python3.6/site-packages/pandas/core/missing.py:51: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x

,Last_Name,First_Name,Team,Age,Position,GP_13,GP_14,GP_15,GP_16,GP_17,...,test,Player_Id,LSTM_full,LSTM_point,nobs,minmax,mean,variance,skewness,kurtosis
OVECHKINALEX,OVECHKIN,ALEX,WSH,34.0,L,48.0,78.0,81.0,79.0,82.0,...,"[2019-04-06 00:00:00, 2019-04-06 00:00:00]",8471214,91.532623,96.362129,500.0,"(58.93243718707162, 130.94987022555475)",82.241984,82.354541,0.356359,1.215084
KANEPATRICK,KANE,PATRICK,CHI,31.0,R,47.0,69.0,61.0,82.0,82.0,...,"[2019-04-06 00:00:00, 2019-04-06 00:00:00]",8474141,109.609917,89.155556,500.0,"(69.04097132685874, 119.95671534990245)",92.596296,82.235794,0.048074,-0.312946
CROSBYSIDNEY,CROSBY,SIDNEY,PIT,32.0,C,36.0,80.0,77.0,80.0,75.0,...,"[2019-04-06 00:00:00, 2019-04-06 00:00:00]",8471675,102.777458,97.612328,500.0,"(62.24596752945877, 130.09625456851523)",99.668406,101.131459,0.004545,0.161911
PANARINARTEMI,PANARIN,ARTEMI,CBJ,28.0,C,NaN,NaN,NaN,80.0,82.0,...,"[2019-04-06 00:00:00, 2019-04-06 00:00:00]",8478550,108.854309,101.867989,500.0,"(62.045695888207185, 114.11669012632107)",85.973341,73.709948,0.298975,-0.043080
BURNSBRENT,BURNS,BRENT,S.J,34.0,D,30.0,69.0,82.0,82.0,82.0,...,"[2019-04-06 00:00:00, 2019-04-06 00:00:00]",8470613,82.714500,78.033958,500.0,"(51.03185092811867, 103.14738829125436)",75.769613,72.158618,0.225571,0.302902
SEGUINTYLER,SEGUIN,TYLER,DAL,28.0,C,48.0,80.0,71.0,72.0,82.0,...,"[2019-04-06 00:00:00, 2019-04-06 00:00:00]",8475794,79.612083,88.380745,500.0,"(54.03437156399238, 101.24403294305333)",78.073782,65.895414,0.070740,-0.079525
PETTERSSONELIAS,PETTERSSON,ELIAS,VAN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,"[2019-04-06 00:00:00, 2019-04-06 00:00:00]",8480012,76.616150,60.536469,500.0,"(56.19990067885462, 109.60508420683371)",79.532659,100.217924,0.239772,-0.438307
TAVARESJOHN,TAVARES,JOHN,TOR,29.0,C,48.0,59.0,82.0,78.0,77.0,...,"[2019-04-06 00:00:00, 2019-04-06 00:00:00]",8475166,89.930206,86.594780,500.0,"(57.8177981300816, 104.23044604046788)",81.297138,81.541118,0.007142,-0.239331
MACKINNONNATHAN,MACKINNON,NATHAN,COL,24.0,C,NaN,82.0,64.0,72.0,82.0,...,"[2019-04-06 00:00:00, 2019-04-06 00:00:00]",8477492,104.200272,103.664116,500.0,"(48.11032852138175, 114.39181002869483)",87.158528,100.377179,-0.145527,-0.040105
KESSELPHIL,KESSEL,PHIL,PIT,32.0,C,48.0,82.0,82.0,82.0,82.0,...,"[2019-04-06 00:00:00, 2019-04-06 00:00:00]",8473548,82.262589,84.282234,500.0,"(58.145005117962825, 112.98502239290609)",82.727146,80.234546,0.014593,-0.253166

In [46]:
nhl[~(nhl.index == 'NANNAN') & (nhl.Position == 'D')].to_csv('./nhl_def_1920.csv', sep=';')
nhl[~(nhl.index == 'NANNAN') & (nhl.Position != 'D')].to_csv('./nhl_att_1920.csv', sep=';')

---
## Predictions

In [ ]:
# Read projections
# projections_all = pd.read_csv(r'C:\Users\Maison\Dropbox\ChuckLemieux.csv', encoding = "utf-8")
projections_all = pd.read_csv('/mnt/c/Users/cedric/Dropbox/ChuckLemieux.csv', encoding = "utf-8")

# projections_tsn = pd.read_csv(r'C:\Users\Maison\Dropbox\Cullen.csv', header=2, encoding = "utf-8")
projections_tsn = pd.read_csv('/mnt/c/Users/cedric/Dropbox/Cullen.csv', header=2, encoding = "utf-8")

In [ ]:
# Name index / Sort / Subset
projections_all['Name'] = projections_all.apply(lambda player: re.sub(r'\W+', '', f'{player["Player"]}').upper(), axis=1)
projections_all.set_index('Name', inplace=True)
projections_all.sort_index(inplace=True)
projections_all = projections_all[['Position', 'Chuck\nLemieux', 'NHL', 'ESPN', 'Fantrax', 'TSN']]
                                                                      
# Name index / Sort / Subset                                                                      
projections_tsn['Name'] = projections_tsn.apply(lambda player: re.sub(r'\W+', '', f'{player["PLAYER"]}').upper(), axis=1)
projections_tsn.set_index('Name', inplace=True)
projections_tsn.sort_index(inplace=True)
projections_tsn = projections_tsn[['POS', 'PTS']]

### All

In [ ]:
# Reformat nhl df
nhl_for_join = nhl.copy()
nhl_for_join['Name'] = nhl.apply(lambda player: re.sub(r'\W+', '', f'{player["First_Name"]}{player["Last_Name"]}').upper(), axis=1)
nhl_for_join.set_index('Name', inplace=True)
nhl_for_join = nhl_for_join.sort_index()

In [ ]:
# Join
nhl_for_join = nhl_for_join.join(projections_all, lsuffix='_real', rsuffix='_projection')
nhl_for_join = nhl_for_join.sort_values('Last_Name')

In [ ]:
nhl_for_join['Name'] = nhl_for_join.apply(lambda player: re.sub(r'\W+', '', f'{player["Last_Name"]}{player["First_Name"]}').upper(), axis=1)
nhl_for_join.set_index('Name', inplace=True)
nhl_for_join = nhl_for_join.sort_index()

In [ ]:
nhl_for_join[~(nhl_for_join.index == 'NANNAN') & (nhl_for_join.Position_real == 'D')].to_csv('./nhl_projections_def.csv', sep=';')

In [ ]:
nhl_for_join[~(nhl_for_join.index == 'NANNAN') & (nhl_for_join.Position_real == 'D')]

### Cullen

In [ ]:
# Reformat nhl df
nhl_for_join = nhl.copy()
nhl_for_join['Name'] = nhl.apply(lambda player: re.sub(r'\W+', '', f'{player["First_Name"]}{player["Last_Name"]}').upper(), axis=1)
nhl_for_join.set_index('Name', inplace=True)
nhl_for_join = nhl_for_join.sort_index()

In [ ]:
# Join
nhl_for_join = nhl_for_join.join(projections_tsn, lsuffix='_real', rsuffix='_projection')
nhl_for_join = nhl_for_join.sort_values('Last_Name')

In [ ]:
nhl_for_join['Name'] = nhl_for_join.apply(lambda player: re.sub(r'\W+', '', f'{player["Last_Name"]}{player["First_Name"]}').upper(), axis=1)
nhl_for_join.set_index('Name', inplace=True)
nhl_for_join = nhl_for_join.sort_index()

In [ ]:
nhl_for_join[~(nhl_for_join.index == 'NANNAN') & ~(nhl_for_join.Position == 'D')].to_csv('./nhl_projections_att_cullen.csv', sep=';')

In [ ]:
nhl_for_join[~(nhl_for_join.index == 'NANNAN') & (nhl_for_join.Position == 'D')]

### Rookies

In [ ]:
rookies_1 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/rookies-1.csv', encoding = "utf-8", header=None, names=['rank', 'name'], sep=';')
rookies_2 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/rookies-2.csv', encoding = "utf-8")
rookies_3 = pd.read_csv('/mnt/c/Users/cedric/Dropbox/rookies-3.csv', encoding = "utf-8")

In [ ]:
rookies_1['Name'] = rookies_1.apply(lambda player: re.sub(r'\W+', '', f'{player["name"]}').upper(), axis=1)
rookies_1.set_index('Name', inplace=True)
rookies_1 = rookies_1.sort_values('rank')

In [ ]:
rookies_2['Name'] = rookies_2.apply(lambda player: re.sub(r'\W+', '', f'{player["Prospect"]}').upper(), axis=1)
rookies_2.set_index('Name', inplace=True)
rookies_2 = rookies_2.sort_values('Sep. 10')

In [ ]:
rookies_3['Name'] = rookies_3.apply(lambda player: re.sub(r'\W+', '', f'{player["Prospect"]}').upper(), axis=1)
rookies_3.set_index('Name', inplace=True)
rookies_3 = rookies_3.sort_values('Sep. 10')

In [ ]:
rookies_def = rookies_2.join(rookies_1)[['Prospect', 'Team', 'type', 'rank']]

In [ ]:
rookies_def = rookies_def.fillna(axis=1, value=50)
rookies_def['rank'] = rookies_def.apply(lambda x: 50-int(x['rank']), axis=1)

In [ ]:
rookies_def['value'] = rookies_def.apply(lambda x: x['type'] + x['rank'], axis=1)
rookies_def.drop(['type', 'rank'], axis=1, inplace=True)

In [ ]:
rookies_def = rookies_def.sort_values('value', ascending=False)
rookies_def.to_csv('./rookies_def.csv', sep=';')

In [ ]:
rookies_att = rookies_3.join(rookies_1)[['Prospect', 'Team', 'type', 'Prospect Rating', 'rank']]

In [ ]:
rookies_att = rookies_att.fillna(axis=1, value=50)
rookies_att['rank'] = rookies_att.apply(lambda x: 50-int(x['rank']), axis=1)

In [ ]:
rookies_att['value'] = rookies_att.apply(lambda x: x['Prospect Rating'] + x['rank'], axis=1)
rookies_att.drop(['Prospect Rating', 'rank'], axis=1, inplace=True)

In [ ]:
rookies_att = rookies_att.sort_values('value', ascending=False)
rookies_att.to_csv('./rookies_att.csv', sep=';')

---
## Goalers

In [ ]:
nhl_goal = pd.read_csv('/mnt/c/Users/cedric/Dropbox/NHL-Goalies-2017-18-Goalies.csv', encoding = "utf-8")
# nhl13 = pd.read_csv(r'C:\Users\Maison\Dropbox\NHL 2012-13.csv', encoding = "utf-8")
# nhl13 = pd.read_csv('~/Dropbox/NHL 2012-13.csv', encoding = "utf-8")
nhl_goal.columns = [str(col) + '_18' for col in nhl_goal.columns]

In [ ]:
nhl_goal['Name'] = nhl_goal.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_18"]}{player["First Name_18"]}').upper(), axis=1)

In [ ]:
nhl_goal.set_index('Name', inplace=True)

In [ ]:
nhl_goal = nhl_goal[['Last Name_18', 'First Name_18', 'Team(s)_18', 'GP_18', 'W_18', 'OTL_18', 'SO_18']]

In [ ]:
nhl_goal['PTS_18'] = nhl_goal.apply(lambda player: 2*player.W_18+player.OTL_18+player.SO_18, axis=1)

In [ ]:
nhl_goal['PTS/G_18'] = nhl_goal.apply(lambda player: player.PTS_18/player.GP_18, axis=1)

In [ ]:
nhl_goal_contracts = pd.read_csv('/mnt/c/Users/cedric/Dropbox/Pool-Goal.csv', header=1, encoding = "utf-8")
# nhl_att_contracts = pd.read_csv(r'C:\Users\Maison\Dropbox\Pool-Att.csv', header=1, encoding = "utf-8")
# nhl_att_contracts = pd.read_csv('~/Dropbox/Pool-Att.csv', header=1, encoding = "utf-8")

In [ ]:
nhl_goal_contracts['Name'] = nhl_goal_contracts.Gardien.apply(lambda player: re.sub(r'\W+', '', f'{player}').upper())

In [ ]:
nhl_goal_contracts.set_index('Name', inplace=True)

In [ ]:
nhl_goal_contracts.head()

In [ ]:
nhl_goal = nhl_goal.join(nhl_goal_contracts.END)

In [ ]:
nhl_goal = nhl_goal.join(nhl_goal_contracts.SALARY)

In [ ]:
nhl_goal['SALARY'] = nhl_goal['SALARY'].replace(',', '', regex=True).astype(float)

In [ ]:
# Salaries of 2018-2019 season
nhl_salaries = pd.read_csv('/mnt/c/Users/cedric/Dropbox/Salaries-2018-2019.csv', header=None, encoding = "utf-8")
# nhl_salaries = pd.read_csv(r'C:\Users\Maison\Dropbox\Salaries-2018-2019.csv', header=None, encoding = "utf-8")
# nhl_salaries = pd.read_csv('~/Dropbox/Salaries-2018-2019.csv', header=None, encoding = "utf-8")

In [ ]:
nhl_salaries.columns = ['Player', 'Team', 'Salary', 'Cap_Hit']

In [ ]:
nhl_salaries['Name'] = nhl_salaries.Player.apply(lambda player: re.sub(r'\W+', '', f'{player}').upper())

In [ ]:
nhl_salaries.set_index('Name', inplace=True)

In [ ]:
nhl_salaries.head()

In [ ]:
# Reverse index of df and join the salaries
nhl_goal = nhl_goal.set_index(nhl_goal.apply(lambda player: re.sub(r'\W+', '', f'{player["First Name_18"]}{player["Last Name_18"]}').upper(), axis=1)).join(nhl_salaries.Cap_Hit)

# Put index to initial order                                                    
nhl_goal.set_index(nhl_goal.apply(lambda player: re.sub(r'\W+', '', f'{player["Last Name_18"]}{player["First Name_18"]}').upper(), axis=1), inplace=True)

In [ ]:
# Convert to float
nhl_goal['Cap_Hit'] = nhl_goal['Cap_Hit'].replace(',', '', regex=True).astype(float)

In [ ]:
# If contract ended last year, put ending year to NaN and add manually
nhl_goal.loc[nhl_goal.END == 18, 'END'] = np.nan

In [ ]:
nhl_goal['Team(s)_18'] = nhl_goal['Team(s)_18'].apply(lambda tm: str(tm).split(', ')[-1])

In [ ]:
nhl_goal.head(10)

In [ ]:
nhl_goal[~(nhl_goal.index == 'NANNAN')].to_csv('./nhl_goal.csv', sep=';')